<%= form_for(clarification_type) do |f| %>
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">

      <% if clarification_type.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(clarification_type.errors.count, "error") %> prohibited this clarification_type from being
            saved:</h2>
          <ul>
            <% clarification_type.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <label><%= t('all.name') %></label>
        <%= f.text_field :name, :class => 'form-control', :required => true, :id => 'nombre', autocomplete: "off", :maxlength => '255' %>
      </div>
    </div>
    <div class="col-xs-4"></div>
  </div>

  <div class="col-md-12 hr-line-dashed"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="actions">
        <button type="submit" , class="btn btn-xs btn-primary " , value="<%= t('all.save') %>" , name="btnSave">
          <i class="fa fa-tags"></i>  <%= t('all.save') %>
        </button>
        <%= link_to '<span class="fa fa-tags" ></span>  '.html_safe + t('all.back'), clarification_types_path, :class => 'btn btn-xs btn-primary dim' %>
      </div>
    </div>
  </div>
<% end %>