<script type="text/javascript" language="javascript" class="init">
    $(document).ready(function () {
        $('table').footable({paginate: false});
    });
</script>

<div class="row">
  <div class="col-sm-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('all.types') %></h1>
      </div>
      <div class="ibox-content" id="responsiveTable">
        <% if @error.present? %>
          <script>
              swal({
                  title: "<%= t('all.no_filter')%>",
                  type: "warning"

              }); // swal
          </script>
        <% end %>

        <%= form_tag({:controller => "clarification_types", :action => "index"}, :method => "get") do %>
          <input type="hidden" value="<%= params[:locale] %>" name="locale">
          <input type="hidden" value="true" name="search">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" class="form-control" name="clarif_name" autocomplete="off" placeholder="<%= t('views.clarif_type_index.name') %>">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="btn-group">
                  <%#= submit_tag t('all.btn_search'), :class => "btn btn-w-m btn-info dim", :data => {:no_turbolink => true} %>

                  <%= button_tag(type: 'submit', class: 'btn btn-w-m btn-info') do %>
                    <i class="fa fa-search"></i>
                    <%= t('all.btn_search') %>
                  <% end %>
                </div>
              </div>
            </div>

          </div>

        <% end %>

        <% if @query.present? %>

          <div class="row">
            <div class="col-lg-4">
              <h3><%= t('all.query') %>: <%= @query %></h3>
            </div>
            <div class="col-lg-8">
              <div class="row">
                <div class="col-xs-6 col-sm-4">
                  <div class="form-group">
                    <%= link_to t('all.clean'), clarification_types_path, :class => "btn btn-w-m btn-info dim", :data => {:no_turbolink => true} %>
                  </div>

                </div>
              </div>
            </div>
          </div>
        <% end %>


        <div class="row">
          <div class="col-sm-4">
            <br>
            <br>
            <% if @crearType == 8 %>
              <%= link_to '<span class="fa fa-tags"></span> '.html_safe + t('views.areas_index.new'), new_clarification_type_path, :class => 'btn btn-xs btn-info dim' %>
            <% end %>
          </div>
          <div class="col-sm-3"></div>
          <div class="col-sm-5 text-right">
            <div style="margin-bottom: 2em;">
              <div class="detall_left">
                <%= page_entries_info @clarification_types, entry_name: t('all.types') %>
              </div>
              <div class="pag_right">
                <%= paginate @clarification_types, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
              </div>
            </div>
          </div>
        </div>
        <div class="table table-responsive overflow col-sm-3" tabindex="5005" style="overflow: hidden; outline: none;">
          <table class="table footable no-paging" data-filter=#filter data-page-size="10">
            <thead>
            <tr>
              <th class="text-center" data-sort-ignore="true"><%= t('all.name') %></th>
              <% if @editarType == 4 %>
                <th class="text-center" data-sort-ignore="true"><%= t('views.areas_index.edit') %></th>
              <% end %>
              <% if @eliminarType == 1 %>
                <th class="text-center" data-sort-ignore="true"><%= t('views.areas_index.destroy') %></th>
              <% end %>
            </tr>
            </thead>

            <tbody>
            <% @clarification_types.each do |clarification_type| %>
              <tr>
                <td class="text-center"><%= clarification_type.name %></td>
                <% if @editarType == 4 %>
                  <td class="text-center">
                    <%= link_to '<button class="btn btn-warning btn-xs" type="button"><i class="fa fa-pencil "></i></button>'.html_safe, edit_clarification_type_path(clarification_type), :data => {:no_turbolink => false} %>
                  </td>
                <% end %>
                <% if @eliminarType == 1 %>
                  <td class="text-center">
                    <input type="hidden" value="<%= clarification_type.name %>" id="clarif_types<%= clarification_type.id %>">
                    <%#= link_to '<button class="btn btn-danger btn-xs areas" type="button"><i class="fa fa-trash-o "></i></button>'.html_safe, area, method: :delete, data: {confirm: t('views.areas_index.confirm')}, :id => area.id %>
                    <button class="btn btn-danger btn-xs  clarif_types" type="button" id="<%= clarification_type.id %>">
                      <i class="fa fa-trash-o"></i>
                    </button>
                  </td>
                <% end %>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <br>

        <div class="row">
          <div class="col-sm-4">
            <% if @crearType == 8 %>
              <%= link_to '<span class="fa fa-tags"></span> '.html_safe + t('views.areas_index.new'), new_clarification_type_path, :class => 'btn btn-xs btn-info dim' %>

          <% end %>
          </div>
          <div class="col-sm-3"></div>
          <div class="col-sm-5 text-right">
            <div style="margin-bottom: 2em;">
              <div class="pag_right">
                <%= paginate @clarification_types, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
              </div>
              <div class="detall_right">
                <%= page_entries_info @clarification_types, entry_name: t('all.types') %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<script type="text/javascript">
    function checkSubmit() {
        document.getElementById("sub").value = "Sending...";
        document.getElementById("sub").disabled = true;
        return true;
    }

    $(".pop").popover({trigger: "manual", html: true, animation: false})
        .on("mouseenter", function () {
            var _this = this;
            $(this).popover("show");
            $(".popover").on("mouseleave", function () {
                $(_this).popover('hide');
            });
        }).on("mouseleave", function () {
        var _this = this;
        setTimeout(function () {
            if (!$(".popover:hover").length) {
                $(_this).popover("hide");
            }
        }, 300);
    });

    $("[data-toggle=hover]").popover({html: true})
    $('#popoverData').popover();
    /*$(document).ready(function () {
     $('table').footable();
     });*/

    <% if @eliminarType == 1 %>
    function recargar() {
        window.location.reload(true);
    }

    $(document).on("click", ".clarif_types", function () {
        var id = this.id;
        var type = $("#clarif_types" + id).val();
        swal({
                title: '<%= t('views.mess_apli_title')%>  ' + '<%= t('views.clarif_type_index.type')%>  ' + type + '?',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "<%= t('views.mess_apli_swall_confirm')%> ",
                cancelButtonText: "<%= t('views.mess_apli_swall_cancel')%>",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    swal({
                            title: '<%= t('views.clarif_type_index.confirm2')%>',
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "<%= t('views.mess_apli_swall_confirm')%> ",
                            cancelButtonText: "<%= t('views.mess_apli_swall_cancel')%>",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        },
                        function (isConfirm) {
                            if (isConfirm) {
                                $.ajax({
                                    type: "POST",
                                    beforeSend: function (xhr) {
                                        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                                    },
                                    url: "/clarification_types/" + id,
                                    data: {"_method": "delete"},
                                })
                                swal(
                                    {
                                        title: '<%= t('views.mess_apli_swall')%>',
                                        type: "success",
                                        confirmButtonText: "OK",
                                    }, function (isConfirm) {
                                        if (isConfirm) {
                                            recargar();
                                        }
                                    })
                            } else {
                                swal("<%= t('views.mess_apli_swall_cancel_1')%>");
                            }
                        })
                } else {
                    swal("<%= t('views.mess_apli_swall_cancel_1')%>");
                }
            });
    })
    <% end %>


</script>