<% @permisos_v = current_user.profile.permissions.order(:view_id) %>
<% arreglo = Array.new %>
<% @permisos_v.each do |per| %>
    <% id = per.id %>
    <% valor = {name: '', crear: 0, editar: 0, leer: 0, eliminar: 0} %>
    <% valor[:name] = per.view_name %>
    <% valor[:crear] = per.crear %>
    <% valor[:editar] = per.editar %>
    <% valor[:leer] = per.leer %>
    <% valor[:eliminar] = per.eliminar %>

    <% arreglo.push(valor) %>
<% end %>
<!--BANDERA CURRENT USER: <strong><%#= current_user.profile.flag %></strong><br>-->
<!--CURRENT USER: <strong><%#= current_user.profile.view_name %></strong><br>-->
<%= form_for(@profile) do |f| %>
    <% if @profile.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(profile.errors.count, "error") %> prohibited this Profile from being saved:</h2>

          <ul>
            <% profile.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <script>
        <% if @profile.present? %>
        var perf_id = "<%= @profile.id%>"
        <% else %>
        var perf_id = 0
        <% end %>
    </script>
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-2">
        <div class="field">
          <p class="text-center">
            <label><%= t('activerecord.atributes.name') %></label>
            <%= f.text_field :name, :class => 'form-control', :required => true, autocomplete: "off", maxlength: '255' %>
          </p>
        </div>
        <% if @profile.flag != 0 && @profile.flag != 1 && @profile.flag != 2 %>

            <div>
              <p class="text-center">
                <label id="labelArea"><%= t('activerecord.atributes.area') %></label>
                <%#= f.collection_select :area_id, Area.order(:id), :id, :name, {:include_blank => t('views.profiles_new.placeh_area')}, {:required => true, :class => 'form-control', :id => 'areaSel'} %>
                <select class="form-control" id="areaSel" name="profile[area_id]">
                  <option value=""> <%= t('views.profiles_new.placeh_area') %> </option>
                  <% @areas.each do |ar| %>
                      <option value="<%= ar[:id] %>"><%= ar[:name] %></option>
                  <% end %>
                </select>
              </p>
              <%#= current_user.id %>
            </div>
            <!-- EMPIEZA SELECT DE PRUEBA  -->
            <div>

              <p class="text-center">


                <label id="labelBand" style="display:none;"><%= t('views.permisos_edit.below') %></label>
                <!--<select id="bandSel" name="name_profile[flag]" class="form-control" style="width: 250px; display: none;">
                  <option value="">Prueba</option>
                </select>-->
                <% if action_name == "edit" %>
                    <select id="bandSel" name="profile[flag]" class="form-control" style="display: none;">
                      <option value=""><%= t('views.permisos_edit.placeh_f') %></option>
                    </select>

                    <script>
                        $(function () {
                            $("#bandSel").val("<%= @profile.flag.to_i - 1 %>")
                        })
                    </script>
                <% else %>
                    <select id="bandSel" name="profile[flag]" class="form-control" style="display: none;" required="true">
                      <option value=""><%= t('views.permisos_edit.placeh_f') %></option>
                    </select>
                <% end %>


              </p>

            </div>
        <% end %>
        <!-- EMPIEZA SELECT DE PRUEBA  -->


      </div>
      <div class="col-md-5"></div>
    </div>
    <div class="row">
      <div class="col-xs-9"></div>
      <div class="col-xs-1 text-right">
      </div>
      <div class="col-xs-2 ">
        <button type="button" class="btn btn-xs btn-info unsel" id="check_all">
          <i class="fa fa-plus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.select') %> </label>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8" id="inner-body" align="center">

        <% if action_name == "edit" %>
            <table class="table table-striped table-hover  table-responsive" style="margin: 0 auto; text-align: center">
              <thead>
              <tr>
                <th><label><%= t('views.permisos_edit.attribute') %></label></th>
                <th class="text-center"><label><%= t('activerecord.atributes.crear') %></label></th>
                <th class="text-center"><label><%= t('activerecord.atributes.editar') %></label></th>
                <th class="text-center"><label><%= t('activerecord.atributes.leer') %></label></th>
                <th class="text-center"><label><%= t('activerecord.atributes.eliminar') %></label></th>
              </tr>
              </thead>
              <tbody>
<!--              <tr bgcolor="#003057">-->
              <tr bgcolor="#E10098">
<!--                <td colspan="5" bgcolor="#003057" style="color:white; text-align: left;">-->
                <td colspan="5" bgcolor="#E10098" style="color:white; text-align: left;">
                  <b><h4><%= t('all.home') %></h4></b></td>
              </tr>
              <% @views.each do |v| %>
                  <% if v.name == "Home" %>
                      <% @permiso_vista = Permission.find_by(view_id: v.id, profile_id: @profile.id) %>
                      <tr>
                        <td>
                          <label><%= t('all.home') %></label>
                          <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                        </td>
                        <td>
                          <% if arreglo[0][:crear] == 8 && (v.crear == 1 || v.crear == "1") %>
                              <% if @permiso_vista.crear == 8 %>
                                  <input type="checkbox" class="i-checks" value="8" checked name="crear<%= v.id %>" id="<%= v.name.downcase %>_crear"><br>
                              <% else %>
                                  <input type="checkbox" class="i-checks" value="8" name="crear<%= v.id %>" id="<%= v.name.downcase %>_crear"><br>
                              <% end %>
                          <% else %>
                              --
                          <% end %>
                        </td>
                        <td>
                          <% if arreglo[0][:editar] == 4 && (v.editar == 1 || v.editar == "1") %>
                              <% if @permiso_vista.editar == 4 %>
                                  <input type="checkbox" class="i-checks" value="4" checked name="editar<%= v.id %>" id="<%= v.name.downcase %>_editar"><br>
                              <% else %>
                                  <input type="checkbox" class="i-checks" value="4" name="editar<%= v.id %>" id="<%= v.name.downcase %>_editar"><br>
                              <% end %>
                          <% else %>
                              --
                          <% end %>
                        </td>
                        <td>
                          <% @arreglo = arreglo[0][:leer] %>
                          <% @vista = v.leer %>
                          <% @permiso = @permiso_vista.leer %>
                          <% if arreglo[0][:leer] == 2 && (v.leer == 1 || v.leer == "1") %>
                              <% if @permiso_vista.leer == 2 %>
                                  <input type="checkbox" class="i-checks" value="2" checked name="leer<%= v.id %>" id="<%= v.name.downcase %>_leer"><br>
                              <% else %>
                                  <input type="checkbox" class="i-checks" value="2" name="leer<%= v.id %>" id="<%= v.name.downcase %>_leer"><br>
                              <% end %>
                          <% else %>
                              --
                          <% end %>
                        </td>
                        <td>
                          <% if arreglo[0][:eliminar] == 1 && (v.eliminar == 1 || v.eliminar == "1") %>
                              <% if @permiso_vista.eliminar == 1 %>
                                  <input type="checkbox" class="i-checks" value="1" checked name="eliminar<%= v.id %>" id="<%= v.name.downcase %>_eliminar"><br>
                              <% else %>
                                  <input type="checkbox" class="i-checks" value="1" name="eliminar<%= v.id %>" id="<%= v.name.downcase %>_eliminar"><br>
                              <% end %>
                          <% else %>
                              --
                          <% end %>
                        </td>
                      </tr>
                      <% arreglo.delete_at(0) %>
                  <% end %>
              <% end %>

              <tr bgcolor="#E10098">
                <!--                <td colspan="5" bgcolor="#003057" style="color:white; text-align: left;">-->
                <td colspan="5" bgcolor="#E10098" style="color:white; text-align: left;">
                  <b><h4><%= t('all.productivity') %></h4></b></td>
              </tr>

              <% @views.each do |v| %>
                <% if v.name == "Productivity" %>
                  <% @permiso_vista = Permission.find_by(view_id: v.id, profile_id: @profile.id) %>
                  <tr>
                    <td>
                      <label><%= t('all.productivity') %></label>
                      <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                    </td>
                    <td>
                      <% if arreglo[0][:crear] == 8 && (v.crear == 1 || v.crear == "1") %>
                        <% if @permiso_vista.crear == 8 %>
                          <input type="checkbox" class="i-checks" value="8" checked name="crear<%= v.id %>" id="<%= v.name.downcase %>_crear"><br>
                        <% else %>
                          <input type="checkbox" class="i-checks" value="8" name="crear<%= v.id %>" id="<%= v.name.downcase %>_crear"><br>
                        <% end %>
                      <% else %>
                        --
                      <% end %>
                    </td>
                    <td>
                      <% if arreglo[0][:editar] == 4 && (v.editar == 1 || v.editar == "1") %>
                        <% if @permiso_vista.editar == 4 %>
                          <input type="checkbox" class="i-checks" value="4" checked name="editar<%= v.id %>" id="<%= v.name.downcase %>_editar"><br>
                        <% else %>
                          <input type="checkbox" class="i-checks" value="4" name="editar<%= v.id %>" id="<%= v.name.downcase %>_editar"><br>
                        <% end %>
                      <% else %>
                        --
                      <% end %>
                    </td>
                    <td>
                      <% @arreglo = arreglo[0][:leer] %>
                      <% @vista = v.leer %>
                      <% @permiso = @permiso_vista.leer %>
                      <% if arreglo[0][:leer] == 2 && (v.leer == 1 || v.leer == "1") %>
                        <% if @permiso_vista.leer == 2 %>
                          <input type="checkbox" class="i-checks" value="2" checked name="leer<%= v.id %>" id="<%= v.name.downcase %>_leer"><br>
                        <% else %>
                          <input type="checkbox" class="i-checks" value="2" name="leer<%= v.id %>" id="<%= v.name.downcase %>_leer"><br>
                        <% end %>
                      <% else %>
                        --
                      <% end %>
                    </td>
                    <td>
                      <% if arreglo[0][:eliminar] == 1 && (v.eliminar == 1 || v.eliminar == "1") %>
                        <% if @permiso_vista.eliminar == 1 %>
                          <input type="checkbox" class="i-checks" value="1" checked name="eliminar<%= v.id %>" id="<%= v.name.downcase %>_eliminar"><br>
                        <% else %>
                          <input type="checkbox" class="i-checks" value="1" name="eliminar<%= v.id %>" id="<%= v.name.downcase %>_eliminar"><br>
                        <% end %>
                      <% else %>
                        --
                      <% end %>
                    </td>
                  </tr>
                  <% arreglo.delete_at(0) %>
                <% end %>
              <% end %>

              <% if arreglo[0][:crear] == 8 || arreglo[0][:editar] == 4 || arreglo[0][:leer] == 2 || arreglo[0][:eliminar] == 1%>
                <!--                  <tr bgcolor="#003057">-->
                <tr bgcolor="#E10098">
                  <!--                    <td colspan="5" bgcolor="#003057" style="color:white; text-align: left;">-->
                  <td colspan="5" bgcolor="#E10098" style="color:white; text-align: left;">
                    <b><h4><%= t('all.clarifications') %></h4></b></td>
                </tr>

                <% @views.each do |v| %>
                  <% if v.name == "Clarifications"%>
                    <% @permiso_vista = Permission.find_by(view_name: v.name, profile_id: @profile.id) %>
                    <tr>
                      <td>
                        <% if v.name == "Clarifications" %>
                          <label><%= t('all.clarifications') %></label>
                        <% end %>
                        <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                      </td>
                      <td>
                        <% if arreglo[0][:crear] == 8 && (v.crear == 1 || v.crear == "1") %>
                          <% if @permiso_vista.crear == 8 %>
                            <input type="checkbox" class="i-checks" value="8" checked name="crear<%= v.id %>" id="<%= v.name.downcase %>_crear"><br>
                          <% else %>
                            <input type="checkbox" class="i-checks" value="8" name="crear<%= v.id %>" id="<%= v.name.downcase %>_crear"><br>
                          <% end %>
                        <% else %>
                          --
                        <% end %>
                      </td>
                      <td>
                        <% if arreglo[0][:editar] == 4 && (v.editar == 1 || v.editar == "1") %>
                          <% if @permiso_vista.editar == 4 %>
                            <input type="checkbox" class="i-checks" value="4" checked name="editar<%= v.id %>" id="<%= v.name.downcase %>_editar"><br>
                          <% else %>
                            <input type="checkbox" class="i-checks" value="4" name="editar<%= v.id %>" id="<%= v.name.downcase %>_editar"><br>
                          <% end %>
                        <% else %>
                          --
                        <% end %>
                      </td>
                      <td>
                        <% if arreglo[0][:leer] == 2 && (v.leer == 1 || v.leer == "1") %>
                          <% if @permiso_vista.leer == 2 %>
                            <input type="checkbox" class="i-checks" value="2" checked name="leer<%= v.id %>" id="<%= v.name.downcase %>_leer"><br>
                          <% else %>
                            <input type="checkbox" class="i-checks" value="2" name="leer<%= v.id %>" id="<%= v.name.downcase %>_leer"><br>
                          <% end %>
                        <% else %>
                          --
                        <% end %>
                      </td>
                      <td>
                        <% if arreglo[0][:eliminar] == 1 && (v.eliminar == 1 || v.eliminar == "1") %>
                          <% if @permiso_vista.eliminar == 1 %>
                            <input type="checkbox" class="i-checks" value="1" checked name="eliminar<%= v.id %>" id="<%= v.name.downcase %>_eliminar"><br>
                          <% else %>
                            <input type="checkbox" class="i-checks" value="1" name="eliminar<%= v.id %>" id="<%= v.name.downcase %>_eliminar"><br>
                          <% end %>
                        <% else %>
                          --
                        <% end %>
                      </td>
                    </tr>
                    <% arreglo.delete_at(0) %>
                  <% end %>
                <% end %>
              <% end %>
              <% if arreglo[0][:crear] == 8 || arreglo[0][:editar] == 4 || arreglo[0][:leer] == 2 || arreglo[0][:eliminar] == 1%>
                <!--                  <tr bgcolor="#003057">-->
                <tr bgcolor="#E10098">
                  <!--                    <td colspan="5" bgcolor="#003057" style="color:white; text-align: left;">-->
                  <td colspan="5" bgcolor="#E10098" style="color:white; text-align: left;">
                    <b><h4><%= t('all.upload') %></h4></b></td>
                </tr>

                <% @views.each do |v| %>
                  <% if v.name == "ProsaUpload"%>
                    <% @permiso_vista = Permission.find_by(view_name: v.name, profile_id: @profile.id) %>
                    <tr>
                      <td>
                        <% if v.name == "ProsaUpload" %>
                          <label><%= t('all.upload') %></label>
                        <% end %>
                        <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                      </td>
                      <td>
                        <% if arreglo[0][:crear] == 8 && (v.crear == 1 || v.crear == "1") %>
                          <% if @permiso_vista.crear == 8 %>
                            <input type="checkbox" class="i-checks" value="8" checked name="crear<%= v.id %>" id="<%= v.name.downcase %>_crear"><br>
                          <% else %>
                            <input type="checkbox" class="i-checks" value="8" name="crear<%= v.id %>" id="<%= v.name.downcase %>_crear"><br>
                          <% end %>
                        <% else %>
                          --
                        <% end %>
                      </td>
                      <td>
                        <% if arreglo[0][:editar] == 4 && (v.editar == 1 || v.editar == "1") %>
                          <% if @permiso_vista.editar == 4 %>
                            <input type="checkbox" class="i-checks" value="4" checked name="editar<%= v.id %>" id="<%= v.name.downcase %>_editar"><br>
                          <% else %>
                            <input type="checkbox" class="i-checks" value="4" name="editar<%= v.id %>" id="<%= v.name.downcase %>_editar"><br>
                          <% end %>
                        <% else %>
                          --
                        <% end %>
                      </td>
                      <td>
                        <% if arreglo[0][:leer] == 2 && (v.leer == 1 || v.leer == "1") %>
                          <% if @permiso_vista.leer == 2 %>
                            <input type="checkbox" class="i-checks" value="2" checked name="leer<%= v.id %>" id="<%= v.name.downcase %>_leer"><br>
                          <% else %>
                            <input type="checkbox" class="i-checks" value="2" name="leer<%= v.id %>" id="<%= v.name.downcase %>_leer"><br>
                          <% end %>
                        <% else %>
                          --
                        <% end %>
                      </td>
                      <td>
                        <% if arreglo[0][:eliminar] == 1 && (v.eliminar == 1 || v.eliminar == "1") %>
                          <% if @permiso_vista.eliminar == 1 %>
                            <input type="checkbox" class="i-checks" value="1" checked name="eliminar<%= v.id %>" id="<%= v.name.downcase %>_eliminar"><br>
                          <% else %>
                            <input type="checkbox" class="i-checks" value="1" name="eliminar<%= v.id %>" id="<%= v.name.downcase %>_eliminar"><br>
                          <% end %>
                        <% else %>
                          --
                        <% end %>
                      </td>
                    </tr>
                    <% arreglo.delete_at(0) %>
                  <% end %>
                <% end %>
              <% end %>

              <% if arreglo[0][:crear] == 8 || arreglo[0][:editar] == 4 || arreglo[0][:leer] == 2 || arreglo[0][:eliminar] == 1 || arreglo[1][:crear] == 8 || arreglo[1][:editar] == 4 || arreglo[1][:leer] == 2 || arreglo[1][:eliminar] == 1 || arreglo[2][:crear] == 8 || arreglo[2][:editar] == 4 || arreglo[2][:leer] == 2 || arreglo[2][:eliminar] == 1 || arreglo[3][:crear] == 8 || arreglo[3][:editar] == 4 || arreglo[3][:leer] == 2 || arreglo[3][:eliminar] == 1 %>
<!--                  <tr bgcolor="#003057">-->
                  <tr bgcolor="#E10098">
<!--                    <td colspan="5" bgcolor="#003057" style="color:white; text-align: left;">-->
                    <td colspan="5" bgcolor="#E10098" style="color:white; text-align: left;">
                      <b><h4><%= t('views.profiles_edit.settings') %></h4></b></td>
                  </tr>

                  <% @views.each do |v| %>
                        <% if v.name == "Users" || v.name == "Profiles" || v.name == "Areas" || v.name == "States" || v.name == "ClarificationTypes" %>
                          <% @permiso_vista = Permission.find_by(view_name: v.name, profile_id: @profile.id) %>
                          <tr>
                            <td>
                              <% if v.name == "Users" %>
                                  <label><%= t('all.user') %></label>
                              <% elsif v.name == "Profiles" %>
                                  <label><%= t('all.profiles') %></label>
                              <% elsif v.name == "Areas" %>
                                  <label><%= t('all.areas') %></label>
                              <% elsif v.name == "States" %>
                                  <label><%= t('all.states') %></label>
                              <% elsif v.name == "ClarificationTypes" %>
                                  <label><%= t('all.types') %></label>
                              <% end %>
                              <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                            </td>
                            <td>
                              <% if arreglo[0][:crear] == 8 && (v.crear == 1 || v.crear == "1") %>
                                  <% if @permiso_vista.crear == 8 %>
                                      <input type="checkbox" class="i-checks" value="8" checked name="crear<%= v.id %>" id="<%= v.name.downcase %>_crear"><br>
                                  <% else %>
                                      <input type="checkbox" class="i-checks" value="8" name="crear<%= v.id %>" id="<%= v.name.downcase %>_crear"><br>
                                  <% end %>
                              <% else %>
                                  --
                              <% end %>
                            </td>
                            <td>
                              <% if arreglo[0][:editar] == 4 && (v.editar == 1 || v.editar == "1") %>
                                  <% if @permiso_vista.editar == 4 %>
                                      <input type="checkbox" class="i-checks" value="4" checked name="editar<%= v.id %>" id="<%= v.name.downcase %>_editar"><br>
                                  <% else %>
                                      <input type="checkbox" class="i-checks" value="4" name="editar<%= v.id %>" id="<%= v.name.downcase %>_editar"><br>
                                  <% end %>
                              <% else %>
                                  --
                              <% end %>
                            </td>
                            <td>
                              <% if arreglo[0][:leer] == 2 && (v.leer == 1 || v.leer == "1") %>
                                  <% if @permiso_vista.leer == 2 %>
                                      <input type="checkbox" class="i-checks" value="2" checked name="leer<%= v.id %>" id="<%= v.name.downcase %>_leer"><br>
                                  <% else %>
                                      <input type="checkbox" class="i-checks" value="2" name="leer<%= v.id %>" id="<%= v.name.downcase %>_leer"><br>
                                  <% end %>
                              <% else %>
                                  --
                              <% end %>
                            </td>
                            <td>
                              <% if arreglo[0][:eliminar] == 1 && (v.eliminar == 1 || v.eliminar == "1") %>
                                  <% if @permiso_vista.eliminar == 1 %>
                                      <input type="checkbox" class="i-checks" value="1" checked name="eliminar<%= v.id %>" id="<%= v.name.downcase %>_eliminar"><br>
                                  <% else %>
                                      <input type="checkbox" class="i-checks" value="1" name="eliminar<%= v.id %>" id="<%= v.name.downcase %>_eliminar"><br>
                                  <% end %>
                              <% else %>
                                  --
                              <% end %>
                            </td>
                          </tr>
                          <% arreglo.delete_at(0) %>
                      <% end %>
                  <% end %>
              <% end %>

              <% if @views.count > 9 %>
<!--                  <tr bgcolor="#003057">-->
                  <tr bgcolor="#E10098">
<!--                    <td colspan="5" bgcolor="#003057" style="color:white; text-align: left;">-->
                    <td colspan="5" bgcolor="#E10098" style="color:white; text-align: left;">
                      <b><h4><%= t('views.profiles_edit.new_views') %></h4></b>
                    </td>
                  </tr>

                  <% @views.each do |v| %>
                      <% if v.name != "Home" && v.name != "Productivity" && v.name != "Clarifications" && v.name != "ProsaUpload" && v.name != "Users" && v.name != "Profiles" && v.name != "Areas" && v.name != "States" && v.name != "ClarificationTypes" %>
                          <% @permiso_vista = Permission.find_by(view_name: v.name, profile_id: @profile.id) %>
                          <tr>
                            <td>
                              <label><%= v.name %></label>
                              <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                            </td>
                            <td>
                              <% if arreglo[0][:crear] == 8 && (v.crear == 1 || v.crear == "1") %>
                                  <% if @permiso_vista.crear == 8 %>
                                      <input type="checkbox" class="i-checks" value="8" checked name="crear<%= v.id %>" id="<%= v.name.downcase %>_crear"><br>
                                  <% else %>
                                      <input type="checkbox" class="i-checks" value="8" name="crear<%= v.id %>" id="<%= v.name.downcase %>_crear"><br>
                                  <% end %>
                              <% else %>
                                  --
                              <% end %>
                            </td>
                            <td>
                              <% if arreglo[0][:editar] == 4 && (v.editar == 1 || v.editar == "1") %>
                                  <% if @permiso_vista.editar == 4 %>
                                      <input type="checkbox" class="i-checks" value="4" checked name="editar<%= v.id %>" id="<%= v.name.downcase %>_editar"><br>
                                  <% else %>
                                      <input type="checkbox" class="i-checks" value="4" name="editar<%= v.id %>" id="<%= v.name.downcase %>_editar"><br>
                                  <% end %>
                              <% else %>
                                  --
                              <% end %>
                            </td>
                            <td>
                              <% if arreglo[0][:leer] == 2 && (v.leer == 1 || v.leer == "1") %>
                                  <% if @permiso_vista.leer == 2 %>
                                      <input type="checkbox" class="i-checks" value="2" checked name="leer<%= v.id %>" id="<%= v.name.downcase %>_leer"><br>
                                  <% else %>
                                      <input type="checkbox" class="i-checks" value="2" name="leer<%= v.id %>" id="<%= v.name.downcase %>_leer"><br>
                                  <% end %>
                              <% else %>
                                  --
                              <% end %>
                            </td>
                            <td>
                              <% if arreglo[0][:eliminar] == 1 && (v.eliminar == 1 || v.eliminar == "1") %>
                                  <% if @permiso_vista.eliminar == 1 %>
                                      <input type="checkbox" class="i-checks" value="1" checked name="eliminar<%= v.id %>" id="<%= v.name.downcase %>_eliminar"><br>
                                  <% else %>
                                      <input type="checkbox" class="i-checks" value="1" name="eliminar<%= v.id %>" id="<%= v.name.downcase %>_eliminar"><br>
                                  <% end %>
                              <% else %>
                                  --
                              <% end %>
                            </td>
                          </tr>
                          <% arreglo.delete_at(0) %>
                      <% end %>
                  <% end %>
              <% end %>
              </tbody>
            </table>
        <% else %>
            <table class="table table-striped table-hover  table-responsive" style="margin: 0 auto; text-align: center">
              <thead>
              <tr>
                <th><label><%= t('views.permisos_edit.attribute') %></label></th>
                <th class="text-center"><label><%= t('activerecord.atributes.crear') %></label></th>
                <th class="text-center"><label><%= t('activerecord.atributes.editar') %></label></th>
                <th class="text-center"><label><%= t('activerecord.atributes.leer') %></label></th>
                <th class="text-center"><label><%= t('activerecord.atributes.eliminar') %></label></th>
              </tr>
              </thead>
              <tbody>
<!--              <tr bgcolor="#003057">-->
              <tr bgcolor="#E10098">
<!--                <td colspan="5" bgcolor="#003057" style="color:white; text-align: left;">-->
                <td colspan="5" bgcolor="#E10098" style="color:white; text-align: left;">
                  <b><h4><%= t('all.home') %></h4></b></td>
              </tr>
              <% @views.each do |v| %>
                  <% if v.name == "Home" %>
                      <tr>
                        <td>
                          <label><%= t('all.home') %></label>
                          <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                        </td>
                        <td>
                          <% if arreglo[0][:crear] == 8 && (v.crear == 1 || v.crear == "1") %>
                              <input type="checkbox" class="i-checks" value="8" name="crear<%= v.id %>" id="<%= v.name.downcase %>_crear"><br>
                          <% else %>
                              --
                          <% end %>
                        </td>
                        <td>
                          <% if arreglo[0][:editar] == 4 && (v.editar == 1 || v.editar == "1") %>
                              <input type="checkbox" class="i-checks" value="4" name="editar<%= v.id %>" id="<%= v.name.downcase %>_editar"><br>
                          <% else %>
                              --
                          <% end %>
                        </td>
                        <td>
                          <% @arreglo = arreglo[0][:leer] %>
                          <% if arreglo[0][:leer] == 2 && (v.leer == 1 || v.leer == "1") %>
                              <input type="checkbox" class="i-checks" value="2" name="leer<%= v.id %>" id="<%= v.name.downcase %>_leer"><br>
                          <% else %>
                              --
                          <% end %>
                        </td>
                        <td>
                          <% if arreglo[0][:eliminar] == 1 && (v.eliminar == 1 || v.eliminar == "1") %>
                              <input type="checkbox" class="i-checks" value="1" name="eliminar<%= v.id %>" id="<%= v.name.downcase %>_eliminar"><br>
                          <% else %>
                              --
                          <% end %>
                        </td>
                      </tr>
                      <% arreglo.delete_at(0) %>
                  <% end %>
              <% end %>
<tr bgcolor="#E10098">
<!--                <td colspan="5" bgcolor="#003057" style="color:white; text-align: left;">-->
                <td colspan="5" bgcolor="#E10098" style="color:white; text-align: left;">
                  <b><h4><%= t('all.productivity') %></h4></b></td>
              </tr>
              <% @views.each do |v| %>
                  <% if v.name == "Productivity" %>
                      <tr>
                        <td>
                          <label><%= t('all.productivity') %></label>
                          <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                        </td>
                        <td>
                          <% if arreglo[0][:crear] == 8 && (v.crear == 1 || v.crear == "1") %>
                              <input type="checkbox" class="i-checks" value="8" name="crear<%= v.id %>" id="<%= v.name.downcase %>_crear"><br>
                          <% else %>
                              --
                          <% end %>
                        </td>
                        <td>
                          <% if arreglo[0][:editar] == 4 && (v.editar == 1 || v.editar == "1") %>
                              <input type="checkbox" class="i-checks" value="4" name="editar<%= v.id %>" id="<%= v.name.downcase %>_editar"><br>
                          <% else %>
                              --
                          <% end %>
                        </td>
                        <td>
                          <% @arreglo = arreglo[0][:leer] %>
                          <% if arreglo[0][:leer] == 2 && (v.leer == 1 || v.leer == "1") %>
                              <input type="checkbox" class="i-checks" value="2" name="leer<%= v.id %>" id="<%= v.name.downcase %>_leer"><br>
                          <% else %>
                              --
                          <% end %>
                        </td>
                        <td>
                          <% if arreglo[0][:eliminar] == 1 && (v.eliminar == 1 || v.eliminar == "1") %>
                              <input type="checkbox" class="i-checks" value="1" name="eliminar<%= v.id %>" id="<%= v.name.downcase %>_eliminar"><br>
                          <% else %>
                              --
                          <% end %>
                        </td>
                      </tr>
                      <% arreglo.delete_at(0) %>
                  <% end %>
              <% end %>

              <% if arreglo[0][:crear] == 8 || arreglo[0][:editar] == 4 || arreglo[0][:leer] == 2 || arreglo[0][:eliminar] == 1%>
                <!--                  <tr bgcolor="#003057">-->
                <tr bgcolor="#E10098">
                  <!--                    <td colspan="5" bgcolor="#003057" style="color:white; text-align: left;">-->
                  <td colspan="5" bgcolor="#E10098" style="color:white; text-align: left;">
                    <b><h4><%= t('all.clarifications') %></h4></b></td>
                </tr>

                <% @views.each do |v| %>
                  <% if v.name == "Clarifications"%>
                    <% @permiso_vista = Permission.find_by(view_name: v.name, profile_id: @profile.id) %>
                    <tr>
                      <td>
                        <% if v.name == "Clarifications" %>
                          <label><%= t('all.clarifications') %></label>
                        <% end %>
                        <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                      </td>
                      <td>
                        <% if arreglo[0][:crear] == 8 && (v.crear == 1 || v.crear == "1") %>
                          <input type="checkbox" class="i-checks" value="8" name="crear<%= v.id %>" id="<%= v.name.downcase %>_crear"><br>
                        <% else %>
                          --
                        <% end %>
                      </td>
                      <td>
                        <% if arreglo[0][:editar] == 4 && (v.editar == 1 || v.editar == "1") %>
                          <input type="checkbox" class="i-checks" value="4" name="editar<%= v.id %>" id="<%= v.name.downcase %>_editar"><br>
                        <% else %>
                          --
                        <% end %>
                      </td>
                      <td>
                        <% @arreglo = arreglo[0][:leer] %>
                        <% if arreglo[0][:leer] == 2 && (v.leer == 1 || v.leer == "1") %>
                          <input type="checkbox" class="i-checks" value="2" name="leer<%= v.id %>" id="<%= v.name.downcase %>_leer"><br>
                        <% else %>
                          --
                        <% end %>
                      </td>
                      <td>
                        <% if arreglo[0][:eliminar] == 1 && (v.eliminar == 1 || v.eliminar == "1") %>
                          <input type="checkbox" class="i-checks" value="1" name="eliminar<%= v.id %>" id="<%= v.name.downcase %>_eliminar"><br>
                        <% else %>
                          --
                        <% end %>
                      </td>
                    </tr>
                    <% arreglo.delete_at(0) %>
                  <% end %>
                <% end %>
              <% end %>

              <% if arreglo[0][:crear] == 8 || arreglo[0][:editar] == 4 || arreglo[0][:leer] == 2 || arreglo[0][:eliminar] == 1%>
                <!--                  <tr bgcolor="#003057">-->
                <tr bgcolor="#E10098">
                  <!--                    <td colspan="5" bgcolor="#003057" style="color:white; text-align: left;">-->
                  <td colspan="5" bgcolor="#E10098" style="color:white; text-align: left;">
                    <b><h4><%= t('all.upload') %></h4></b></td>
                </tr>

                <% @views.each do |v| %>
                  <% if v.name == "ProsaUpload"%>
                    <% @permiso_vista = Permission.find_by(view_name: v.name, profile_id: @profile.id) %>
                    <tr>
                      <td>
                        <% if v.name == "ProsaUpload" %>
                          <label><%= t('all.upload') %></label>
                        <% end %>
                        <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                      </td>
                      <td>
                        <% if arreglo[0][:crear] == 8 && (v.crear == 1 || v.crear == "1") %>
                          <input type="checkbox" class="i-checks" value="8" name="crear<%= v.id %>" id="<%= v.name.downcase %>_crear"><br>
                        <% else %>
                          --
                        <% end %>
                      </td>
                      <td>
                        <% if arreglo[0][:editar] == 4 && (v.editar == 1 || v.editar == "1") %>
                          <input type="checkbox" class="i-checks" value="4" name="editar<%= v.id %>" id="<%= v.name.downcase %>_editar"><br>
                        <% else %>
                          --
                        <% end %>
                      </td>
                      <td>
                        <% @arreglo = arreglo[0][:leer] %>
                        <% if arreglo[0][:leer] == 2 && (v.leer == 1 || v.leer == "1") %>
                          <input type="checkbox" class="i-checks" value="2" name="leer<%= v.id %>" id="<%= v.name.downcase %>_leer"><br>
                        <% else %>
                          --
                        <% end %>
                      </td>
                      <td>
                        <% if arreglo[0][:eliminar] == 1 && (v.eliminar == 1 || v.eliminar == "1") %>
                          <input type="checkbox" class="i-checks" value="1" name="eliminar<%= v.id %>" id="<%= v.name.downcase %>_eliminar"><br>
                        <% else %>
                          --
                        <% end %>
                      </td>
                    </tr>
                    <% arreglo.delete_at(0) %>
                  <% end %>
                <% end %>
              <% end %>

              <% if arreglo[0][:crear] == 8 || arreglo[0][:editar] == 4 || arreglo[0][:leer] == 2 || arreglo[0][:eliminar] == 1 || arreglo[1][:crear] == 8 || arreglo[1][:editar] == 4 || arreglo[1][:leer] == 2 || arreglo[1][:eliminar] == 1 || arreglo[2][:crear] == 8 || arreglo[2][:editar] == 4 || arreglo[2][:leer] == 2 || arreglo[2][:eliminar] == 1 || arreglo[3][:crear] == 8 || arreglo[3][:editar] == 4 || arreglo[3][:leer] == 2 || arreglo[3][:eliminar] == 1 %>
                <!--                  <tr bgcolor="#003057">-->
                <tr bgcolor="#E10098">
                  <!--                    <td colspan="5" bgcolor="#003057" style="color:white; text-align: left;">-->
                  <td colspan="5" bgcolor="#E10098" style="color:white; text-align: left;">
                    <b><h4><%= t('views.profiles_edit.settings') %></h4></b></td>
                </tr>

                <% @views.each do |v| %>
                  <% if v.name == "Users" || v.name == "Profiles" || v.name == "Areas" || v.name == "States" || v.name == "ClarificationTypes" %>
                    <% @permiso_vista = Permission.find_by(view_name: v.name, profile_id: @profile.id) %>
                    <tr>
                      <td>
                        <% if v.name == "Users" %>
                          <label><%= t('all.user') %></label>
                        <% elsif v.name == "Profiles" %>
                          <label><%= t('all.profiles') %></label>
                        <% elsif v.name == "Areas" %>
                          <label><%= t('all.areas') %></label>
                        <% elsif v.name == "States" %>
                          <label><%= t('all.states') %></label>
                        <% elsif v.name == "ClarificationTypes" %>
                          <label><%= t('all.types') %></label>
                        <% end %>
                        <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                      </td>
                      <td>
                        <% if arreglo[0][:crear] == 8 && (v.crear == 1 || v.crear == "1") %>
                          <input type="checkbox" class="i-checks" value="8" name="crear<%= v.id %>" id="<%= v.name.downcase %>_crear"><br>
                        <% else %>
                          --
                        <% end %>
                      </td>
                      <td>
                        <% if arreglo[0][:editar] == 4 && (v.editar == 1 || v.editar == "1") %>
                          <input type="checkbox" class="i-checks" value="4" name="editar<%= v.id %>" id="<%= v.name.downcase %>_editar"><br>
                        <% else %>
                          --
                        <% end %>
                      </td>
                      <td>
                        <% @arreglo = arreglo[0][:leer] %>
                        <% if arreglo[0][:leer] == 2 && (v.leer == 1 || v.leer == "1") %>
                          <input type="checkbox" class="i-checks" value="2" name="leer<%= v.id %>" id="<%= v.name.downcase %>_leer"><br>
                        <% else %>
                          --
                        <% end %>
                      </td>
                      <td>
                        <% if arreglo[0][:eliminar] == 1 && (v.eliminar == 1 || v.eliminar == "1") %>
                          <input type="checkbox" class="i-checks" value="1" name="eliminar<%= v.id %>" id="<%= v.name.downcase %>_eliminar"><br>
                        <% else %>
                          --
                        <% end %>
                      </td>
                    </tr>
                    <% arreglo.delete_at(0) %>
                  <% end %>
                <% end %>
              <% end %>

              <% if @views.count > 9 %>
<!--                  <tr bgcolor="#003057">-->
                  <tr bgcolor="#E10098">
<!--                    <td colspan="5" bgcolor="#003057" style="color:white; text-align: left;">-->
                    <td colspan="5" bgcolor="#E10098" style="color:white; text-align: left;">
                      <b><h4><%= t('views.profiles_edit.new_views') %></h4></b>
                    </td>
                  </tr>

                  <% @views.each do |v| %>
                      <% if v.name != "Home" && v.name != "Productivity" && v.name != "Clarifications" && v.name != "ProsaUpload" && v.name != "Users" && v.name != "Profiles" && v.name != "Areas" && v.name != "States" && v.name != "ClarificationTypes" %>
                          <tr>
                            <td>
                              <label><%= v.name %></label>
                              <input type="hidden" name="nombre<%= v.id %>" value="<%= v.id %>">
                            </td>
                            <td>
                              <% if arreglo[0][:crear] == 8 && (v.crear == 1 || v.crear == "1") %>
                                  <input type="checkbox" class="i-checks" value="8" name="crear<%= v.id %>" id="<%= v.name.downcase %>_crear"><br>
                              <% else %>
                                  --
                              <% end %>
                            </td>
                            <td>
                              <% if arreglo[0][:editar] == 4 && (v.editar == 1 || v.editar == "1") %>
                                  <input type="checkbox" class="i-checks" value="4" name="editar<%= v.id %>" id="<%= v.name.downcase %>_editar"><br>
                              <% else %>
                                  --
                              <% end %>
                            </td>
                            <td>
                              <% if arreglo[0][:leer] == 2 && (v.leer == 1 || v.leer == "1") %>
                                  <input type="checkbox" class="i-checks" value="2" name="leer<%= v.id %>" id="<%= v.name.downcase %>_leer"><br>
                              <% else %>
                                  --
                              <% end %>
                            </td>
                            <td>
                              <% if arreglo[0][:eliminar] == 1 && (v.eliminar == 1 || v.eliminar == "1") %>
                                  <input type="checkbox" class="i-checks" value="1" name="eliminar<%= v.id %>" id="<%= v.name.downcase %>_eliminar"><br>
                              <% else %>
                                  --
                              <% end %>
                            </td>
                          </tr>
                          <% arreglo.delete_at(0) %>
                      <% end %>
                  <% end %>
              <% end %>
              </tbody>
            </table>
        <% end %>

      </div>
      <div class="col-md-2"></div>
    </div>
    <br>
    <div class="col-md-12 hr-line-dashed"></div>
    <button type="submit" , class="btn btn-xs btn-primary " , value="<%= t('all.save') %>" , name="btnSave">
      <i class="fa fa-user"></i>  <%= t('all.save') %>
    </button>
    <%= link_to '<span class="fa fa-user" ></span>  '.html_safe + t('all.back'), profiles_path, :class => 'btn btn-xs btn-primary dim' %>

<% end %>

<% content_for :javascript do %>
    <script type="text/javascript">
        var elem = document.querySelector('.js-switch');
        var switchery = new Switchery(elem, {color: '#1AB394'});
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    </script>

    <script>

        $('#new_name_profile').validate({
            messages: {
                "name_profile[name]": {
                    required: "<%= t('all.requi')%>"
                },
                "belongs": {
                    required: "<%= t('all.requi')%>"
                },
                "name_profile[area_id]": {
                    required: "<%= t('all.requi')%>"
                },
                "name_profile[flag]": {
                    required: "<%= t('all.requi')%>"
                }
            }
        });
    </script>

    <script>
        $("#areaSel").change(function () {
            var valor = $(this).val()
            console.log(valor)
            $('option:contains("Default")').hide();

            if (valor == "") {
                $("#bandSel").hide();
                $("#labelBand").hide();
            }else{
                if (valor == 1) {
                    $("#bandSel option").remove();
                    $("#bandSel optgroup").remove();
                    $("#bandSel").show();
                    $("#labelBand").show();
                    $("#labelProfile").show();

                    $("#bandSel").append($("<option value></option>").text("<%= t('views.permisos_edit.placeh_f') %>"));

                    var nivel = 0

                    for (i = 0; i < gon.pflag.length; i++) {
                        if ((gon.pflag[i].area_id == valor) && (gon.pflag[i].flag != 1) && (gon.pflag[i].id != perf_id)) {
                            var id = gon.pflag[i].id
                            var name = gon.pflag[i].name
                            if (i == 0) {
                                nivel = nivel + 1
                                $("#bandSel").append(
                                    $("<optgroup></optgroup>")
                                        .attr("label", "<%= t('views.permisos_edit.level')%> " + nivel));

                                $("#bandSel").append(
                                    $("<option></option>")
                                        .attr("value", id)
                                        .text(name)
                                );
                            } else {
                                var niv_flag = gon.pflag[i].flag - 1

                                if (niv_flag != nivel) {
                                    nivel = nivel + 1
                                    $("#bandSel").append(
                                        $("<optgroup></optgroup>")
                                            .attr("label", "<%= t('views.permisos_edit.level')%> " + nivel));

                                    $("#bandSel").append(
                                        $("<option></option>")
                                            .attr("value", id)
                                            .text(name)
                                    );
                                } else {
                                    if (gon.pflag[i].flag != 1 && gon.pflag[i].flag != 0) {
                                        $("#bandSel").append(
                                            $("<option></option>")
                                                .attr("value", id)
                                                .text(name)
                                        );
                                    }
                                }
                            }
                        }
                    }
                }
                else {
                    $("#bandSel option").remove();
                    $("#bandSel optgroup").remove();
                    $("#bandSel").show();
                    $("#labelBand").show();
                    $("#labelProfile").show();

                    $("#bandSel").append($("<option value></option>").text("<%= t('views.permisos_edit.placeh_f') %>"));

                    var nivel = 0

                    for (i = 0; i < gon.pflag.length; i++) {
                        if ((gon.pflag[i].area_id == valor) && (gon.pflag[i].flag != 2) && (gon.pflag[i].id != perf_id)) {
                            var id = gon.pflag[i].id
                            var name = gon.pflag[i].name
                            var flag = gon.pflag[i].flag

                            if (flag == 1){
                                nivel = nivel + 1
                                $("#bandSel").append(
                                    $("<optgroup></optgroup>")
                                        .attr("label", "<%= t('views.permisos_edit.level')%> " + nivel));

                                $("#bandSel").append(
                                    $("<option></option>")
                                        .attr("value", id)
                                        .text(name)
                                );
                            }else{
                                var niv_flag = gon.pflag[i].flag - 1

                                if (niv_flag != nivel) {
                                    nivel = nivel + 1
                                    $("#bandSel").append(
                                        $("<optgroup></optgroup>")
                                            .attr("label", "<%= t('views.permisos_edit.level')%> " + nivel));

                                    $("#bandSel").append(
                                        $("<option></option>")
                                            .attr("value", id)
                                            .text(name)
                                    );
                                } else {
                                    if (gon.pflag[i].flag != 1 && gon.pflag[i].flag != 0) {
                                        $("#bandSel").append(
                                            $("<option></option>")
                                                .attr("value", id)
                                                .text(name)
                                        );
                                    }
                                }
                            }
                        }
                    }
                }
            }

        })


        $(function () {
            <% @permisos = Permission.where("profile_id = ?", @profile.id) %>
            <% if @permisos.present? %>
            <% @permisos.each do |p|%>
            <% if p.view_name == "Home"%>
            var per_home = [<%= p.crear %>, <%= p.editar %>, <%= p.leer %>, <%= p.eliminar %>]

            if (per_home[0] == 8 || per_home[2] == 2) {
                if (per_home[0] == 8) {
                    $("#home_crear").attr("checked", true)
                    $("#home_crear").parent().addClass("checked")
                }
                if (per_home[2] == 2) {
                    $("#home_leer").attr("checked", true)
                    $("#home_leer").parent().addClass("checked")
                }
            }
            <% end %>
            <% if p.view_name == "Clarifications"%>
            var per_cl = [<%= p.crear %>, <%= p.editar %>, <%= p.leer %>, <%= p.eliminar %>]

            if (per_cl[0] == 8 || per_cl[1] == 4 || per_cl[2] == 2 || per_cl[3] == 1) {
                if (per_cl[0] == 8) {
                    $("#clarifications_crear").attr("checked", true)
                    $("#clarifications_crear").parent().addClass("checked")
                }
                if (per_cl[1] == 4) {
                    $("#clarifications_editar").attr("checked", true)
                    $("#clarifications_editar").parent().addClass("checked")
                }
                if (per_cl[2] == 2) {
                    $("#clarifications_leer").attr("checked", true)
                    $("#clarifications_leer").parent().addClass("checked")
                }

                if (per_cl[3] == 1) {
                    $("#clarifications_eliminar").attr("checked", true)
                    $("#clarifications_eliminar").parent().addClass("checked")
                }
            }
            <% end %>
            <% if p.view_name == "ProsaUpload"%>
            var per_pu = [<%= p.crear %>, <%= p.editar %>, <%= p.leer %>, <%= p.eliminar %>]

            if (per_pu[0] == 8 || per_pu[1] == 4 || per_pu[2] == 2 || per_pu[3] == 1) {
                if (per_pu[0] == 8) {
                    $("#prosaupload_crear").attr("checked", true)
                    $("#prosaupload_crear").parent().addClass("checked")
                }
                if (per_pu[1] == 4) {
                    $("#prosaupload_editar").attr("checked", true)
                    $("#prosaupload_editar").parent().addClass("checked")
                }
                if (per_pu[2] == 2) {
                    $("#prosaupload_leer").attr("checked", true)
                    $("#prosaupload_leer").parent().addClass("checked")
                }

                if (per_pu[3] == 1) {
                    $("#prosaupload_eliminar").attr("checked", true)
                    $("#prosaupload_eliminar").parent().addClass("checked")
                }
            }
            <% end %>
            <% if p.view_name == "Users"%>
            var per_users = [<%= p.crear %>, <%= p.editar %>, <%= p.leer %>, <%= p.eliminar %>]

            if (per_users[1] == 4 || per_users[2] == 2 || per_users[3] == 1) {
                if (per_users[1] == 4) {
                    $("#user_editar").attr("checked", true)
                    $("#user_editar").parent().addClass("checked")
                }
                if (per_users[2] == 2) {
                    $("#user_leer").attr("checked", true)
                    $("#user_leer").parent().addClass("checked")
                }

                if (per_users[3] == 1) {
                    $("#user_eliminar").attr("checked", true)
                    $("#user_eliminar").parent().addClass("checked")
                }
            }
            <% end %>
            <% if p.view_name == "Profiles"%>
            var per_profiles = [<%= p.crear %>, <%= p.editar %>, <%= p.leer %>, <%= p.eliminar %>]

            if (per_profiles[0] == 8 || per_profiles[1] == 4 || per_profiles[2] == 2 || per_profiles[3] == 1) {
                if (per_profiles[0] == 8) {
                    $("#profile_crear").attr("checked", true)
                    $("#profile_crear").parent().addClass("checked")
                }
                if (per_profiles[1] == 4) {
                    $("#profile_editar").attr("checked", true)
                    $("#profile_editar").parent().addClass("checked")
                }
                if (per_profiles[2] == 2) {
                    $("#profile_leer").attr("checked", true)
                    $("#profile_leer").parent().addClass("checked")
                }

                if (per_profiles[3] == 1) {
                    $("#profile_eliminar").attr("checked", true)
                    $("#profile_eliminar").parent().addClass("checked")
                }
            }
            <% end %>
            <% if p.view_name == "Areas"%>
            var per_areas = [<%= p.crear %>, <%= p.editar %>, <%= p.leer %>, <%= p.eliminar %>]

            if (per_areas[0] == 8 || per_areas[1] == 4 || per_areas[2] == 2 || per_areas[3] == 1) {
                if (per_areas[0] == 8) {
                    $("#area_crear").attr("checked", true)
                    $("#area_crear").parent().addClass("checked")
                }
                if (per_areas[1] == 4) {
                    $("#area_editar").attr("checked", true)
                    $("#area_editar").parent().addClass("checked")
                }
                if (per_areas[2] == 2) {
                    $("#area_leer").attr("checked", true)
                    $("#area_leer").parent().addClass("checked")
                }

                if (per_areas[3] == 1) {
                    $("#area_eliminar").attr("checked", true)
                    $("#area_eliminar").parent().addClass("checked")
                }
            }
            <% end %>
            <% if p.view_name == "States"%>
            var per_st = [<%= p.crear %>, <%= p.editar %>, <%= p.leer %>, <%= p.eliminar %>]

            if (per_st[0] == 8 || per_st[1] == 4 || per_st[2] == 2 || per_st[3] == 1) {
                if (per_stores[0] == 8) {
                    $("#states_crear").attr("checked", true)
                    $("#states_crear").parent().addClass("checked")
                }
                if (per_stores[1] == 4) {
                    $("#states_editar").attr("checked", true)
                    $("#states_editar").parent().addClass("checked")
                }
                if (per_stores[2] == 2) {
                    $("#states_leer").attr("checked", true)
                    $("#states_leer").parent().addClass("checked")
                }

                if (per_stores[3] == 1) {
                    $("#states_eliminar").attr("checked", true)
                    $("#states_eliminar").parent().addClass("checked")
                }
            }
            <% end %>

            <% end %>
            <% end %>
        })

        $(function () {
            $('#check_all').click(function () {

                if ($(this).hasClass("sel")) {
                    $(this).removeClass("sel")
                    $(this).addClass("unsel")
                    $(this).html('');
                    $(this).append('<i class="fa fa-plus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.select') %> </label>')

                    <% @views.each do |v| %>
                    <% if v.crear == 1 || v.crear == "1" %>
                    $("#<%= v.name.downcase %>_crear").attr("checked", false)
                    $("#<%= v.name.downcase %>_crear").parent().removeClass("checked")
                    <% end %>
                    <% if v.editar == 1 || v.editar == "1" %>
                    $("#<%= v.name.downcase %>_editar").attr("checked", false)
                    $("#<%= v.name.downcase %>_editar").parent().removeClass("checked")
                    <% end %>
                    <% if v.leer == 1 || v.leer == "1" %>
                    $("#<%= v.name.downcase %>_leer").attr("checked", false)
                    $("#<%= v.name.downcase %>_leer").parent().removeClass("checked")
                    <% end %>
                    <% if v.eliminar == 1 || v.eliminar == "1" %>
                    $("#<%= v.name.downcase %>_eliminar").attr("checked", false)
                    $("#<%= v.name.downcase %>_eliminar").parent().removeClass("checked")
                    <% end %>
                    <% end %>
                } else {
                    $(this).removeClass("unsel")
                    $(this).addClass("sel")
                    $(this).html('');
                    $(this).append('<i class="fa fa-minus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.unselect') %> </label>')

                    <% @views.each do |v| %>
                    <% if v.crear == 1 || v.crear == "1" %>
                    $("#<%= v.name.downcase %>_crear").attr("checked", true)
                    $("#<%= v.name.downcase %>_crear").parent().addClass("checked")
                    <% end %>
                    <% if v.editar == 1 || v.editar == "1" %>
                    $("#<%= v.name.downcase %>_editar").attr("checked", true)
                    $("#<%= v.name.downcase %>_editar").parent().addClass("checked")
                    <% end %>
                    <% if v.leer == 1 || v.leer == "1" %>
                    $("#<%= v.name.downcase %>_leer").attr("checked", true)
                    $("#<%= v.name.downcase %>_leer").parent().addClass("checked")
                    <% end %>
                    <% if v.eliminar == 1 || v.eliminar == "1" %>
                    $("#<%= v.name.downcase %>_eliminar").attr("checked", true)
                    $("#<%= v.name.downcase %>_eliminar").parent().addClass("checked")
                    <% end %>
                    <% end %>
                }
            })

            $("#check_all").css("width", "155")


            <% if action_name == "edit" %>
            <% @permisos_usuario = current_user.profile.permissions.order(:view_id) %>
            <% @checked == true %>

            <% @permisos_usuario.each do |per_usu| %>
            <% @views.each do |v| %>
            <% if per_usu.view_name == v.name %>
            <% if per_usu.crear == 8 && (v.crear == 1 || v.crear == "1") %>
            <% @checked = true %>
            $("#check_all").removeClass("sel")
            $("#check_all").addClass("unsel")
            $("#check_all").html('');
            $("#check_all").append('<i class="fa fa-plus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.select') %> </label>')
            <% else %>
            <% @checked = false %>
            <% break %>
            <% end %>

            <% if per_usu.editar == 4 && (v.editar == 1 || v.editar == "1") %>
            <% @checked = true %>
            $("#check_all").removeClass("sel")
            $("#check_all").addClass("unsel")
            $("#check_all").html('');
            $("#check_all").append('<i class="fa fa-plus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.select') %> </label>')
            <% else %>
            <% @checked = false %>
            <% break %>
            <% end %>

            <% if per_usu.leer == 2 && (v.leer == 1 || v.leer == "1") %>
            <% @checked = true %>
            $("#check_all").removeClass("sel")
            $("#check_all").addClass("unsel")
            $("#check_all").html('');
            $("#check_all").append('<i class="fa fa-plus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.select') %> </label>')
            <% else %>
            <% @checked = false %>
            <% break %>
            <% end %>

            <% if per_usu.eliminar == 1 && (v.eliminar == 1 || v.eliminar == "1") %>
            <% @checked = true %>
            $("#check_all").removeClass("sel")
            $("#check_all").addClass("unsel")
            $("#check_all").html('');
            $("#check_all").append('<i class="fa fa-plus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.select') %> </label>')
            <% else %>
            <% @checked = false %>
            <% break %>
            <% end %>
            <% end %>
            <% end %>
            <% end %>

            <% if @checked == false %>
            $("#check_all").removeClass("unsel")
            $("#check_all").addClass("sel")
            $("#check_all").html('');
            $("#check_all").append('<i class="fa fa-minus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.unselect') %> </label>')
            <% end %>
            <% end %>

        })


    </script>
<% end %>