
<br>
<%= form_for @files_clarification, :html => {:id => "form1"} do |f| %>
  <input type="hidden" name="idc" value="<%= @idC %>">
  <div class="row" id="carga">
    <div class="col-md-4">
      <%= f.file_field :name, :class => "form-control", :required => true %>
    </div>

    <div class="col-md-2" style="width: 110px">
      <%= f.submit :class => "btn btn-primary", :id => "btnSub", :value => "Submit" %>
    </div>
    <div class="col-md-2">
      <%#= link_to '<button type="button" class="btn btn-default"><i class="fa fa-cubes"></i> Back</button>'.html_safe, clarifications_path , :id => "back", :value => "back" %>
      <%#= link_to 'pdf', clarifications_path(:statement_id => @idC ,format: "pdf"), :class => "btn btn-info btn-sm", :name => "statement_id" %>
      <%= link_to 'P D F', clarifications_path(:statement_id => @idC ,format: "pdf"), :class => "btn btn-primary", :name => "statement_id" %>
    </div>
  </div>

<% end %>



<script>

    $('#dato_1 .input-group.date').datepicker({
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true
    });

    $('#fecha').on('input', function () {
        $(this).val($(this).val().replace(/[^0-9/\b]/gi, ''));
    });

</script>

<style>
  td {
    width: 15em;
  }
</style>