
<div class="row">
  <div class="col-xs-12">
    <div class="ibox float-e-marginsdiv ibox-title">
      <input type="hidden" value="<%= params[:locale] %>" name="locale">
      <h1><%= t('views.fc_index.title') %></h1>
    </div>
<!--    PRUEBA: <%#= @idC %>-->
    <div class="ibox-content" id="responsiveTable">
      <% if @error.present? %>

        <script>
            swal({
                title: "<%= t('all.no_filter') %>",
                type: "warning"

            }); // swal
        </script>
      <% end %>
      <div class="row">
        <div class="panel panel-default tile">
          <div class="panel-body">
            <div class="block-area">
              <div class="row">
                <%#= link_to 'pdf', clarifications_path(:statement_id => @idC, format: "pdf"), :class => "btn btn-info btn-sm" %>
                <div class="col-xs-12" id="formValores">
                  <%= render 'files_clarifications/form', files_clarification: @files_clarification %>
                  <h4><span></span></h4>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div id="archivos">
                    <%= render 'archivos' %>
                  </div>
                </div>
              </div>
             <div class="row">
               <div class="col-xs-10"></div>
               <div class="col-xs-2 text-right"></div>
             </div>
            </div>
            <div class="col-md-12 hr-line-dashed"></div>
            <%= link_to '<span class="fa fa-comment-o" ></span>  '.html_safe + t('all.back'), clarifications_path, :class => 'btn btn-xs btn-primary dim' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--</section>-->

<script type="text/javascript">

    $("#botBus").on('click', function () {
        $('#busqueda').show()
        $('#carga').hide()
        $('#clean').show()
    })

    $('#botCarga').on('click', function () {
        $('#carga').show()
        $('#busqueda').hide()
        $('#clean').show()
    })


    // ----------- Espacios en query
    $(document).ready(function () {
        $(".test").html($(".test").html().replace(/,/g, ",<br>"));
        $(".test").html($(".test").html().replace(/Query: /g, "Query: <br>"));
        $(".test").html($(".test").html().replace(/Consulta: /g, "Consulta: <br>"));
    });
</script>

<script>
    //---- Input para calendario
    $('#dato_1 .input-group.date').datepicker({
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true
    });
    //---- Fin Input para calendario

    function recargar() {
        window.location.reload(true);
    }

    $(document).on("click", ".client", function () {
        var id = this.id;
        var cli = $("#cliente" + id).val();
        swal({
                title: '<%= t('views.archivos_index.el_tit') %> ' + cli + '?',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "<%= t('views.archivos_index.el_conf') %>",
                cancelButtonText: "<%= t('views.archivos_index.el_cancel') %>",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: "POST",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                        },
                        url: "/files_clarifications/" + id,
                        data: {"_method": "delete"},
                    })
                    //swal("");
                    swal(
                        {
                            title: "<%= t('views.archivos_index.el_del') %>",
                            type: "success",
                            confirmButtonText: "OK",
                        }, function (isConfirm) {
                            if (isConfirm) {
                                recargar();
                            }
                        })
                } else {
                    swal("<%= t('views.archivos_index.el_cancel') %>");
                }
            });
    })

</script>