<!--<h1>New Files Clarification</h1>-->

<%#= render 'form', files_clarification: @files_clarification %>

<%#= link_to 'Back', files_clarifications_path %>

<div class="row">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1>New Carga Prosa</h1>
      </div>
      <div class="ibox-content" id="responsiveTable">
        <%= render 'form', files_clarification: @files_clarification %>
      </div>
    </div>
  </div>
</div>