<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @files_clarification.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @files_clarification.user_id %>
</p>

<p>
  <strong>Idclarification:</strong>
  <%= @files_clarification.idClarification %>
</p>

<%= link_to 'Edit', edit_files_clarification_path(@files_clarification) %> |
<%= link_to 'Back', files_clarifications_path %>
