<script type="text/javascript" language="javascript" class="init">
    $(document).ready(function () {
        $('table').footable({paginate: false});
    });
</script>

<div class="row">
  <div class="col-sm-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('views.states') %></h1>
      </div>
      <div class="ibox-content" id="responsiveTable">
        <% if @error.present? %>

          <script>
              swal({
                  title: "<%= t('all.no_filter')%>",
                  type: "warning"

              }); // swal
          </script>
        <% end %>

        <%= form_tag({:controller => "states", :action => "index"}, :method => "get") do %>
          <input type="hidden" value="<%= params[:locale] %>" name="locale">
          <div class="row">
            <div class="col-sm-10">
              <div class="col-md-5">
                <input type="text" class="form-control" name="searchN" id="searchN" autocomplete="off" placeholder="<%= t('views.states_index.bus_name') %>">
                <input type="hidden" class="form-control" id="valorN" name="valorN" style="border: 1px solid lightcoral">
              </div>
              &nbsp;
              <div class="col-md-5">
                <input type="text" class="form-control" name="searchM" id="searchM" autocomplete="off" placeholder="<%= t('views.states_index.bus_mens') %>">
                <input type="hidden" class="form-control" id="valorM" name="valorM" style="border: 1px solid lightcoral">
              </div>


            </div>
            <div class="col-sm-2" style="text-align: right; width: 150px">
              <div class="form-group">
                <br>
                <div class="btn-group">
                  <%= button_tag(type: 'submit', class: 'btn btn-w-m btn-info', :id => 'btnSub') do %>
                    <i class="fa fa-search"></i>
                    <%= t('all.btn_search') %>
                  <% end %>
                </div>
              </div>
            </div>

          </div>

        <% end %>

        <% if @query.present? %>

          <div class="row">
            <div class="col-lg-4">
              <h3 class="test"><%= t('all.query') %>: <%= @query.titleize %></h3>
            </div>
            <div class="col-lg-8">
              <div class="row">
                <div class="col-xs-6 col-sm-4">
                  <div class="form-group">
                    <%= link_to t('all.clean'), states_path, :class => "btn btn-w-m btn-info dim", :data => {:no_turbolink => true} %>
                  </div>

                </div>
              </div>
            </div>
          </div>
        <% end %>


        <div class="row">
          <div class="col-sm-4">
            <br>
            <br>
            <% if @crearStates == 8 %>
              <%= link_to '<span class="fa fa-cubes"></span> '.html_safe + t('views.areas_index.new'), new_state_path, :class => 'btn btn-xs btn-info dim' %>
            <% end %>
          </div>
          <div class="col-sm-3"></div>
          <div class="col-sm-5 text-right">
            <div style="margin-bottom: 2em;">
              <div class="detall_left">
                <%= page_entries_info @states, entry_name: 'States' %>
              </div>
              <div class="pag_right">
                <%= paginate @states, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
              </div>
            </div>
          </div>
        </div>
        <div class="table table-responsive overflow col-sm-3" tabindex="5005" style="overflow: hidden; outline: none;">
          <table class="table footable no-paging" data-filter=#filter data-page-size="10">
            <thead>
            <tr>
              <!--              <th class="text-center">Idestado</th>-->
              <!--              <th class="text-center">ID</th>-->
              <th class="text-center"><%= t('views.states_index.des') %></th>
              <th class="text-center"><%= t('views.states_index.mensaje') %></th>
              <%# if @leerStates == 2 %>
              <!--                <th class="text-center">Show</th>-->
              <%# end %>
              <% if @editarStates == 4 %>
                <th class="text-center"><%= t('all.edit') %></th>
              <% end %>
              <% if @eliminarStates == 1 %>
                <th class="text-center"><%= t('views.states_index.btn_des') %></th>
              <% end %>
            </tr>
            </thead>

            <tbody>

            <% @states.each do |state| %>
              <tr>
                <!--                <td class="text-center"><%#= state.IdEstado %></td>-->
                <td class="text-center"><%= state.Descripcion %></td>
                <td class="text-center"><%= state.mensajeDefault %></td>
                <%# if @leerStates == 2 %>
                <!--                  <td class="text-center"><%#= link_to '<button type="button" class="btn btn-primary btn-xs"><i class="fa fa-file"></i></button>'.html_safe, state %></td>-->
                <%# end %>
                <% if @editarStates == 4  %>
                  <td class="text-center"><%= link_to '<button type="button" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i></button>'.html_safe, edit_state_path(state) %></td>
                <% end %>
                <% if @eliminarStates == 1 && state.id != 1 %>
                  <td class="text-center">
                    <%#= link_to 'Destroy', state, method: :delete, data: {confirm: 'Are you sure?'} %>
                    <input type="hidden" name="<%= state.Descripcion %>" id="carga<%= state.IdEstado %>" value="<%= state.Descripcion %>">


                    <button type="button" class="btn btn-danger btn-xs client" id="<%= state.IdEstado %>">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                <% end %>
              </tr>
            <% end %>
            </tbody>
            <!--<tfoot>
            <tr>
              <td colspan="11">
                <ul class="pagination pull-right"></ul>
              </td>
            </tr>
            </tfoot>-->
          </table>
        </div>
        <br>

        <div class="row">
          <div class="col-sm-4">
            <% if @crearStates == 8 %>
              <%= link_to '<span class="fa fa-cubes"></span> '.html_safe + t('views.areas_index.new'), new_state_path, :class => 'btn btn-xs btn-info dim' %>
            <% end %>
          </div>
          <div class="col-sm-3"></div>
          <div class="col-sm-5 text-right">
            <div style="margin-bottom: 2em;">
              <div class="pag_right">
                <%= paginate @states, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
              </div>
              <div class="detall_right">
                <%= page_entries_info @states, entry_name: 'States' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<script type="text/javascript">

    function recargar() {
        window.location.reload(true);
    }

    $(document).on("click", ".client", function () {
        var id = this.id;
        var cli = $("#carga" + id).val();

        swal({
                title: '<%= t('views.states_index.shure') %> '+cli+'?',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "<%= t('views.archivos_index.el_conf') %>",
                cancelButtonText: "<%= t('views.archivos_index.el_cancel') %>",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: "POST",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                        },
                        url: "/states/" + id,
                        data: {"_method": "delete"},
                    })
                    //swal("");
                    swal(
                        {
                            title: "<%= t('views.states_index.deleted') %>",
                            type: "success",
                            confirmButtonText: "OK",
                        }, function (isConfirm) {
                            if (isConfirm) {
                                recargar();
                            }
                        })
                } else {
                    swal("<%= t('views.archivos_index.el_cancel') %>");
                }
            });
    })
</script>

<script>
    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });

    $('#searchN').on('input', function () {
        $('#valorN').val($(this).val().replace(/ /g, '%'))
    })

    $('#searchM').on('input', function () {
        $('#valorM').val($(this).val().replace(/ /g, '%'))
    })

    $('#btnSub').click(function () {
        var reN = $('#valorN').val()
        var reM = $('#valorM').val()


        var reemN = reN.replace(/ /g, '%')
        var reeM = reM.replace(/ /g, '%')


        var reempN = reemN.replace(/\t/g, "%")
        var reempM = reeM.replace(/\t/g, "%")


        $('#valorN').val(reempN)
        $('#valorM').val(reempM)


        if ($('#valorN').val() == "" && $('#valorM').val() == "") {
            swal({
                    title: 'Debes introducir al menos un valor!',
                    type: 'warning',
                    confirm: 'OK',
                },
                function (isConfirm) {
                    if (isConfirm) {
                        recargar()
                    }
                }
            )
        }

    })


    //---- Mayúsculas en la primera letra de los campos de búsqueda
    $('#searchN').css('textTransform', 'capitalize')
    $('#searchM').css('textTransform', 'capitalize')


    //---- Agrega espacio despúes de una coma en el filtro
    $(document).ready(function () {
        $(".test").html($(".test").html().replace(/,/g, ",<br>"));
        $(".test").html($(".test").html().replace(/Query: /g, "Query: <br>"));
        $(".test").html($(".test").html().replace(/Consulta: /g, "Consulta: <br>"));
    });
</script>