<div class="row">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1>New State</h1>
      </div>
      <div class="ibox-content" id="responsiveTable">
        <%= render 'form', state: @state %>
      </div>
    </div>
  </div>
</div>