<div class="row" id="center">
  <div class="col-md-12" align="center">
    <div class="float-e-margins">
      <div class="ibox-title">
        <h1>Show State</h1>
      </div>
      <div class="ibox-content">
        <table class="table footable no-paging" data-filter=#filter data-page-size="10">
          <thead>
          <tr>
            <th class="text-center">Descripcion</th>
<!--            <th class="text-center">Falso positivo</th>-->
            <th class="text-center">Mensaje Default</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="text-center"><%= @state.Descripcion %></td>
            <td class="text-center"><%= @state.mensajeDefault %></td>
          </tr>
          </tbody>

        </table>
      </div>
    </div>
    <% if @editarStates == 4 %>
    <%= link_to '<button class="btn btn-warning"><i class="fa fa-pencil"></i> Editar</button>'.html_safe, edit_state_path(@state) %>
    |<% end %>
    <%= link_to '<button class="btn btn-primary"><i class="fa fa-cubes"></i> Volver</button>'.html_safe, states_path %>
  </div>

</div>



<style>
  #center {
    display: table;
    margin: 0 auto;
  }
</style>