// Font
//$font-stack: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-stack: "Avenir Medium", "avenir", "Avenir", Avenir, "Avenir Black", "Avenir Heavy", "Avenir Roman";


// Basic Colors
$navy: #E10098;           // Primary color
//$navy: #003057;           // Primary color
$dark-gray: #A7A8AA;      // Default color
//$blue: #0c4d82;           // Success color
$blue: #be007a;           // Success color
//$lazur: #3472a4;          // Info color
$lazur: #E62EAA;          // Info color
$yellow: #f8ac59;         // Warrning color
$red: #ed5565;            // Danger color

// Various colors
$text-color: #676a6c;           // Body text
$gray: #f3f3f4;                 // Background wrapper color
$light-gray: #d1dade;           // Default label, badget
$label-badget-color: #5e5e5e;
$light-blue: #f3f6fb;

// Spiner color and margin
$spin-color: $navy;
$spin-margin: 0 auto;

// IBOX colors ( default panel colors)
$border-color: #e7eaec;   // IBox border
$ibox-title-bg: white;    // IBox Background header
$ibox-content-bg: white;  // IBox Background content

//Sidebar width
$sidebar-width: 220px;

// Boxed layout width
$boxed-width: 1200px;
$boxed-backgound: image-url("patterns/shattered.png");

//Border radius for buttons
$btn-border-radius: 3px;

//Navigation
//$nav-bg: #101820;
//$nav-bg: #B9007D;
$nav-bg: #474546;
$nav-profil-pattern: #5e5c5d;
//$nav-text-color: #A7A8AA;
$nav-text-color: white;
