<%
  sql__time_out = "select count(*) cantidad from clarifications where ABS(DATEDIFF([DAY], created_at, GETDATE())) >= 4 and state_id = 1 and clarification_type_id = 1"
  @time_out = ActiveRecord::Base::connection.exec_query(sql__time_out)

  @cantidad = ""
  if @time_out.present? && !@time_out.nil?
    @time_out.each do |to|
      if to['cantidad'].to_i > 0
      puts 'Aclaraciones fuera de tiempo: ' + to['cantidad'].to_s
      @alerta_men = true
      @cantidad = to['cantidad']
      else
       @alerta_men = false
      end
    end
  else
    @alerta_men = false
  end

  if current_user

    @cu = current_user.profile_id

    @per = Permission.find_by(:profile_id => @cu, :view_name => "Clarifications")

    @leer = @per.leer
  end
%>
<style>
  #toast-container > .toast-warning:before {
    content: none;
  }

  #toast-container > div {
    opacity: 1;

  }

  /*.toast-warning{*/
  /*background-color: #fff3cd;*/
  /*}*/
</style>
<script type="text/javascript" charset="utf-8">
    // verdadero

    <% if @alerta_men == true && @leer == 2%>
    <% @cl = Clarification.where("created_at <= ?", 4.days.ago).where(:state_id => 1).where(:clarification_type_id => 1).first %>
    $(function () {
        toastr.options = {
            closeButton: true,
            showMethod: 'slideDown',
            preventDuplicates: true,
            timeOut: 0,
            extendedTimeOut: 0
        };
        <% if @cantidad == 1 || @cantidad == "1" %>
        toastr.warning("<%= t('views.home_index.timeout') %>", "<%= @cantidad.to_s %> <%= t('views.home_index.clarification') %>",
            {
                onclick: function () {
                    console.log('you clicked on the info toaster n.1')
                    window.location.href = "<%= clarifications_path %>/<%= @cl.id %>"
                }
            }
        );
        <% else %>
        toastr.warning("<%= t('views.home_index.timeout') %>", "<%= @cantidad.to_s %> <%= t('all.clarifications') %>",
            {
                onclick: function () {
                    console.log('you clicked on the info toaster n.1')
                    window.location.href = "<%= clarifications_path %>/<%= @cl.id %>"
                }
            }
        );
        <% end %>

    })
    <% end %>

</script>