<div class="row">
  <div class="col-md-6" id="text">
    <% @clar_ant = Clarification.where(:state_id => 1).count %>
    <br>
    <span class="label label-success"><%= t('views.home_index.general') %></span>
    <br>
    <h2 class="izq"><%= number_with_delimiter(@clar_ant, :delimiter => ',') %></h2>
  </div>
  <div class="col-md-6 text-right" id="text">
    <% @clar_hoy = Clarification.where(:state_id => 1).where(:created_at => Time.now.beginning_of_day..Time.now.end_of_day).count %>
    <br>
    <span class="label label-success pull-right"><%= t('views.home_index.until') + ' ' + Time.now.strftime("%F %T").to_s %></span>
    <br>
    <h2 class="izq"><%= number_with_delimiter(@clar_hoy, :delimiter => ',') %></h2>
  </div>
</div>