<input type="hidden" value="<%= current_user.id %>" name="id_user" id="NoUsuario">
<% if ((current_user.profile.flag != 1 && current_user.area_id == 1) || (current_user.profile.flag != 2 && current_user.area_id != 1)) %>
  <% if @leerHome == 2 %>
    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-xs-12">
        <h1><%= t('views.home_index.clarif') %></h1><!-- Alert Levels -->
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <span class="label label-success pull-right"><%= t('views.home_index.until') + ' ' + Time.now.strftime("%F %T").to_s %></span>
            <h3 class="font-bold no-margins"><%= t('views.home_index.clarf_by_states') %></h3>
          </div>
          <div class="ibox-content responsiveGeneral" style="min-height: 40em">
            <div>
              <% if @sin_info == false %>
                <br> <br>
                <div id="morris-donut-chart"></div>
                <script>
                    Morris.Donut({
                        element: 'morris-donut-chart',
                        data: [
                            <% @graph2.each do |g| %>
                            {label: '<%= g[:estado].to_s %>', value: <%= g[:cantidad].to_s %>},
                            <% end %>
                        ],
                        resize: true,
                        colors: ['#E10098', '#676a6c', '#EA47B5', '#818487', '#F19DD6', '#ABACAD', '#E9ABD5', '#C2C4C6', '#EFC9E3'],
                    });
                </script>
              <% else %>
                <br><br>
                <h1 class="text-center">
                  <i class="fa fa-exclamation-circle"></i><%= t('views.home_index.without_data') %>.
                </h1><br>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <span class="label label-success pull-right"><%= t('views.home_index.until') + ' ' + Time.now.strftime("%F %T").to_s %></span>
            <h3 class="font-bold no-margins"><%= t('views.home_index.clarf_by_types') %></h3>
          </div>
          <div class="ibox-content responsiveGeneral" style="min-height: 40em">
            <div>
              <% if @sin_info == false %>
                <br> <br>
                <div id="morris-donut-chart-2"></div>
                <script>
                    Morris.Donut({
                        element: 'morris-donut-chart-2',
                        data: [
                            <% @graph3.each do |g| %>
                            {label: '<%= g[:tipo].to_s %>', value: <%= g[:cantidad].to_s %>},
                            <% end %>
                        ],
                        resize: true,
                        colors: ['#E10098', '#676a6c', '#EA47B5', '#818487', '#F19DD6', '#ABACAD', '#E9ABD5', '#C2C4C6', '#EFC9E3','#E10098', '#676a6c', '#EA47B5', '#818487', '#F19DD6', '#ABACAD', '#E9ABD5', '#C2C4C6', '#EFC9E3'],
                    });
                </script>
              <% else %>
                <br><br>
                <h1 class="text-center">
                  <i class="fa fa-exclamation-circle"></i><%= t('views.home_index.without_data') %>.
                </h1><br>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <span class="label label-success pull-right"><%= t('views.home_index.until') + ' ' + Time.now.strftime("%F %T").to_s %></span>
            <h3 class="font-bold no-margins"><%= t('views.home_index.clarf_by_bin') %></h3>
          </div>
          <div class="ibox-content responsiveGeneral" style="min-height: 40em">
            <div>
              <% if @sin_info == false %>
                <br> <br>
                <div id="morris-donut-chart-3"></div>
                <script>
                    Morris.Donut({
                        element: 'morris-donut-chart-3',
                        data: [
                            <% @graph4.each do |g| %>
                            {label: '<%= g[:tipo].to_s %>', value: <%= g[:cantidad].to_s %>},
                            <% end %>
                        ],
                        resize: true,
                        colors: ['#E10098', '#676a6c', '#EA47B5', '#818487', '#F19DD6', '#ABACAD', '#E9ABD5', '#C2C4C6', '#EFC9E3','#E10098', '#676a6c', '#EA47B5', '#818487', '#F19DD6', '#ABACAD', '#E9ABD5', '#C2C4C6', '#EFC9E3'],
                    });
                </script>
              <% else %>
                <br><br>
                <h1 class="text-center">
                  <i class="fa fa-exclamation-circle"></i><%= t('views.home_index.without_data') %>.
                </h1><br>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <span class="label label-success pull-right"><%= t('views.home_index.until') + ' ' + Time.now.strftime("%F %T").to_s %></span>
            <h3 class="font-bold no-margins"><%= t('views.home_index.clarif_recep') %></h3>
          </div>
          <div class="ibox-content responsiveGeneral" style="min-height: 40em">
            <div>
              <% if @sin_info == false %>
                <br> <br>
                <div id="morris-one-line-chart"></div>
                <script>
                    $(function () {
                        Morris.Line({
                            element: 'morris-one-line-chart',
                            data: [
                                <% @graph1.each do |g| %>
                                {fecha: '<%= g[:fecha].to_s %>', cantidad: <%= g[:cantidad].to_s %>},
                                <% end %>
                            ],
                            xkey: 'fecha',
                            ykeys: ['cantidad'],
                            resize: true,
                            lineWidth: 4,
                            labels: ['<%= t('views.home_index.qty_clarifications') %>'],
                            lineColors: ['#E10098'],
                            pointSize: 5,
                        });
                    })
                </script>
              <% else %>
                <br><br>
                <h1 class="text-center">
                  <i class="fa fa-exclamation-circle"></i><%= t('views.home_index.without_data') %>.
                </h1><br>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

  <% else %>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 text-center">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h1><%= t('views.sessions_new.welcome') %></h1>
          </div>
          <div class="ibox-content" id="responsiveTable">
            <h2> <%= t('views.sessions_new.sub_mes1') %> </h2>
            <br>
            <%= link_to t('all.logout'), destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  <% end %>
<% else %>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h1><%= t('all.warning') %></h1>
        </div>
        <div class="ibox-content" id="responsiveTable">
          <h2> <%= t('all.sorry') %> </h2>
          <br>
          <%= link_to t('all.logout'), destroy_user_session_path, method: :delete, :class => 'btn btn-danger' %>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
<% end %>

