<br>
<%= form_for @carga_prosa, :html => {:id => "form1"} do |f| %>

  <!--  <div class="row">
      <div class="col-lg-6">
        <h3 id="mensaje" style="display: none;" class="label-danger">Hola</h3>
      </div>
    </div>-->
  <!--  <div class="field">-->
  <!--    +          <%#= f.label :user_id %>-->
  <!--    + <select name="<%#= :user_id %>" id="usersel" class="form-control">-->
  <!--    +            <!--<select data-placeholder="<%#= t('views.niv_alert_index.select_state') %>" class="chosen-select" multiple style="width:350px;" tabindex="4" name="states_alert" id="states_sel">-->
  <!--    +-->
  <!--    <option value="">Please select a user</option>-->
  <!--    +-->
  <%# @users.each do |u| %>
  <!--      +-->
  <!--      <option value="<%#= u.id %>"><%#= u.name %></option>-->
  <!--      +                <%#= f.number_field :user_id, :value => u.id %>-->
  <!--      +-->
  <%# end %>
  <!--  <div class="row" style="border: 1px solid red">-->
  <div class="row" id="carga" hidden>
    <div class="col-md-4">
      <%= f.file_field :name, :class => "form-control", :required => true %>
    </div>
<!--    <div class="col-md-4">-->
<!--      <select name="carga_prosa[user_id]" id="usersel" class="form-control">-->
<!--        <option value="">Please select a User</option>-->
        <%# @users.each do |u| %>
<!--          <option value="<%#= u.id %>"><%#= u.name %></option>-->
        <%# end %>
<!--      </select>-->
<!--    </div>-->
    <div class="col-md-2">
      <%= f.submit :class => "btn btn-primary", :id => "btnSub", :value => "Submit" %>
    </div>
  </div>

<% end %>

<script type="text/javascript" charset="utf-8">
    $(":file").filestyle();
</script>

<script>

    $('#dato_1 .input-group.date').datepicker({
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true
    });

    $('#fecha').on('input', function () {
        $(this).val($(this).val().replace(/[^0-9/\b]/gi, ''));
    });

</script>

<style>
  td {
    width: 15em;
  }
</style>

