<!--<h1>Editing Carga Prosa</h1>

<%#= render 'form', carga_prosa: @carga_prosa %>

<%#= link_to 'Show', @carga_prosa %> |
<%#= link_to 'Back', carga_prosas_path %>-->
<div class="row">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1>Edit Carga Prosa</h1>
      </div>
      <div class="ibox-content" id="responsiveTable">
        <%= render 'form', carga_prosa: @carga_prosa %>
      </div>
    </div>
  </div>
</div>
