<div class="row">
  <div class="col-xs-12">
    <div class="ibox float-e-marginsdiv ibox-title">
      <h1>Carga Prosa 510</h1>
    </div>
    <div class="ibox-content" id="responsiveTable">
      <% if @error.present? %>

        <script>
            swal({
                title: "<%= t('all.no_filter') %>",
                type: "warning"

            }); // swal
        </script>
      <% end %>
      <!-- BOTONES -->
      <div class="col-xs-12 col-md-12">
        <div class="form-group">
          <div class="btn-group">
            <button class="btn btn-sm btn-primary" id="botBus" data-toggle="tooltip" title="<%= t('views.archivos_index.btn_busq') %>"><%= t('all.btn_search') %></button>
          </div>
          &nbsp;
          <div class="btn-group">
            <button class="btn btn-sm btn-secondary" id="botCarga" data-toggle="tooltip" title="<%= t('views.archivos_index.btn_carga') %>"><%= t('views.archivos_index.btn_carga') %></button>
          </div>
          &nbsp;
        </div>
      </div>
      <!-- BOTONES -->

      <!-- BÚSQUEDA -->

      <%= form_tag({:controller => "carga_prosas", :action => "index", :id => "form1"}, :method => "get") do %>
        <input type="hidden" value="<%= params[:locale] %>" name="locale">
        <div class="row" id="busqueda" hidden>
          <div class="col-xs-12 col-md-12">
            <div class="form-group">
              <div class="col-xs-4 col-md-4">
                <input type="text" class="form-control" name="searchN" autocomplete="off" placeholder="<%= t('views.archivos_index.file') %>">
              </div>
              <div class="col-xs-4 col-md-4" id="dato_1">
                <div class="input-group date">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  <input type="text" class="form-control" name="searchF" autocomplete="off" placeholder="<%= t('views.archivos_index.up_date') %>" id="up_date">
                </div>
              </div>
              <div class="col-xs-4 col-md-4">
                <select class="form-control" name="searchU">
                  <option value=""><%= t('views.archivos_index.user') %></option>
                  <option value="N/A">N/A</option>
                  <% @users.each do |us| %>
                    <option value="<%= us.id %>"><%= us.name %> <%= us.last_name %></option>
                  <% end %>
                </select>
              </div>

            </div>
          </div>
          <div class="col-xs-6 col-md-4 text-right" style="float:right">
            <div class="form-group">
              <div class="btn-group">
                <br>
                <%= button_tag(type: 'submit', class: 'btn btn-sm btn-info') do %>
                  <i class="fa fa-search"></i>
                  <%= t('all.btn_search') %>
                <% end %>
              </div>
            </div>
          </div>

        </div>

        <div id="query">
          <% if @query.present? %>

            <div class="row">
              <div class="col-lg-4">
                <h3 class="test"><%= t('all.query') %>: <%= @query %></h3>
              </div>
              <div class="col-lg-8">
                <div class="row">
                  <div class="col-xs-6 col-xs-4">
                    <div class="form-group">
                      <%= link_to t('all.clean'), carga_prosas_path, :class => "btn btn-w-m btn-info dim", :data => {:no_turbolink => true} %>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>


      <% end %>

      <!--        <!-- BÚSQUEDA -->

      <!--      <div class="block-area">-->
      <div class="row">
        <div class="panel panel-default tile">
          <div class="panel-body">
            <div class="block-area">
              <div class="row">
                <div class="col lg-12" id="formValores">
                  <% if @crearProsaUpload == 8 %>
                    <%= render 'carga_prosas/form', carga_prosa: @carga_prosa %>
                  <% end %>
                  <h4><span></span></h4>
                </div>
              </div>
              <div id="archivos">
                <%= render 'archivos' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--</section>-->

<script type="text/javascript">

    //---- Input para calendario
    $('#dato_1 .input-group.date').datepicker({
        todayBtn: "linked",
        keyboardNavigation: false,
        endDate: new Date(),
        forceParse: false,
        calendarWeeks: true,
        autoclose: true
    });
    //---- Fin Input para calendario

    //---- Al enviar formulario, reciba fechas.
    $('#form1').submit(function () {
        var c = $('#up_date').val()
        if (c == "" || c == null) {
            $('#up_date').val("")
        } else {
            var birth = new Date($('#up_date').val());
            $('#up_date').val(birth)
        }
    });
    //---- Fin al enviar formulario, reciba fechas.

    $("#botBus").on('click', function () {
        $('#busqueda').show()
        $('#carga').hide()
        $('#clean').show()
    })

    $('#botCarga').on('click', function () {
        $('#carga').show()
        $('#busqueda').hide()
        $('#clean').show()
    })


    // ----------- Espacios en query
    $(document).ready(function () {
        $(".test").html($(".test").html().replace(/,/g, ",<br>"));
        $(".test").html($(".test").html().replace(/Query: /g, "Query: <br>"));
        $(".test").html($(".test").html().replace(/Consulta: /g, "Consulta: <br>"));
    });
</script>

<script>
    function recargar() {
        window.location.reload(true);
    }

    $(document).on("click", ".client", function () {
        var id = this.id;
        var cli = $("#cliente" + id).val();
        $(".sweet-alert").css({"width": "min-content"})
        swal({
                title: '<%= t('views.archivos_index.el_tit') %> ' + cli + '?',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "<%= t('views.archivos_index.el_conf') %>",
                cancelButtonText: "<%= t('views.archivos_index.el_cancel') %>",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: "POST",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                        },
                        url: "/carga_prosas/" + id,
                        data: {"_method": "delete"},
                    })
                    $(".sweet-alert").css({"width": "478px"})
                    //swal("");
                    swal(
                        {
                            title: "<%= t('views.archivos_index.el_del') %>",
                            type: "success",
                            confirmButtonText: "OK",
                        }, function (isConfirm) {
                            if (isConfirm) {
                                recargar();
                            }
                        })
                } else {
                    $(".sweet-alert").css({"width": "478px"})
                    swal("<%= t('views.archivos_index.el_cancel') %>");
                }
            });
    })

    // $(document).on("click", ".reprocess", function () {
    //     var id = this.id;
    //     var cli = $("#rep" + id).val();
    //     $(".sweet-alert").css({"width": "min-content"})
    //     swal({
    //             title: '<%#= t('views.archivos_index.sure') %> ' + cli + '?',
    //             type: "warning",
    //             showCancelButton: true,
    //             confirmButtonColor: "#DD6B55",
    //             confirmButtonText: "<%#= t('views.archivos_index.el_conf') %>",
    //             cancelButtonText: "<%#= t('views.archivos_index.el_cancel') %>",
    //             closeOnConfirm: false,
    //             closeOnCancel: false
    //         },
    //         function (isConfirm) {
    //             if (isConfirm) {
    //                 $.ajax({
    //                     type: "POST",
    //                     beforeSend: function (xhr) {
    //                         xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
    //                     },
    //                     url: "/carga_prosas?id=" + id + '&reprocess=true',
    //                     data: {"_method": "index"},
    //                 })
    //                 //swal("");
    //                 toastr.options = {
    //                     closeButton: true,
    //                     progressBar: true,
    //                     showMethod: 'slideDown',
    //                     timeOut: 5000
    //                 };
    //                 toastr.success("<%#= t('views.archivos_index.conf_rep_2') %>", "<%#= t('views.archivos_index.conf_rep_1') %>");
    //             } else {
    //                 $(".sweet-alert").css({"width": "478px"})
    //                 swal("<%#= t('views.archivos_index.el_cancel') %>");
    //             }
    //         });
    // })

</script>
<style>
  /* Estilos de Toast */
  .toast-success {
    background-color: #770854;
  }

  #toast-container > .toast-success:before {
    content: none;
  }

  .sweet-alert {
    width: min-content;
  }
  /* Fin de Tooltips */
</style>