<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @carga_prosa.name %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @carga_prosa.fecha %>
</p>

<p>
  <strong>User:</strong>
  <%= @carga_prosa.user_id %>
</p>

<%= link_to 'Edit', edit_carga_prosa_path(@carga_prosa) %> |
<%= link_to 'Back', carga_prosas_path %>
