<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-xs-12">
    <h1><%= t('all.productivity') %></h1><!-- Alert Levels -->
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <div class="row">
          <div class="col-xs-12">

            <span class="label label-success pull-right"><%= t('views.home_index.until') + ' ' + Time.now.strftime("%F %T").to_s %></span>
            <h3 class="font-bold no-margins"><%= t('views.productivity_index.users') %></h3>
          </div>
        </div>
      </div>
      <div class="ibox-content responsiveGeneral" style="min-height: 40em">
        <div>
          <% if @sin_info == false %>
            <div class="row">
              <div class="col-xs-2"></div>
              <div class="col-xs-8">
                <% if @busqueda.present? %>
                  <div class="text-center">
                    <h3><%= t('views.productivity_index.user') %>: <%= @user_busqueda %></h3>
                  </div>
                <% end %>
              </div>
              <div class="col-xs-2 text-right">
                <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#users"><i class="fa fa-line-chart"></i> <%= t('views.productivity_index.detail') %></button>
                <% if @busqueda.present? %>
                  <%= link_to '<i class="fa fa-line-chart"></i> '.html_safe + t('all.clean'), productivity_index_path, :class => "btn btn-w-m btn-info dim btn-xs", :data => {:no_turbolink => true} %>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2"></div>
              <div class="col-xs-8">
                <div>
                  <canvas id="barChart" height="140"></canvas>
                </div>
              </div>
              <div class="col-xs-2"></div>
            </div>

            <div class="modal inmodal" id="users" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content animated bounceInRight">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                      <span aria-hidden="true">&times;</span><span class="sr-only"><%= t('views.niv_alert_index.close') %></span>
                    </button>
                    <h4 class="modal-title"><%= t('views.productivity_index.detail_title') %></h4>
                  </div>
                  <%= form_tag({:controller => "productivity", :action => "index"}, :method => "get", :class => "form-horizontal", :id => "form_busqueda_us") do %>
                    <input type="hidden" value="users" name="search_for_users">
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-xs-1"></div>
                        <div class="col-xs-10">
                          <select class="form-control" id="users_sel" name="users_states">
                            <option value=""><%= t('views.productivity_index.placeh') %></option>
                            <% @users.each do |us| %>
                              <option value="<%= us.id %>"><%= us.name %> <%= us.last_name %></option>
                            <% end %>
                          </select>
                        </div>
                        <div class="col-xs-1"></div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-white" data-dismiss="modal"><%= t('views.niv_alert_index.close') %></button>
                      <%= button_tag(type: 'submit', class: 'btn btn-primary', :id => "search_us", :disabled => "true") do %>
                        <i class="fa fa-line-chart"></i>
                        <%= t('views.productivity_index.detail') %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <script type="text/javascript">
                $(function () {

                    var barDataUsers = {
                        labels: [
                            <% @graph1.each do |es| %>
                            "<%= es[:label] %>",
                            <% end %>
                        ],
                        datasets: [
                            {
                                label: "My First dataset",
                                fillColor: "rgba(179,39,135,0.5)",
                                strokeColor: "rgba(179,39,135,0.8)",
                                highlightFill: "rgba(179,39,135,0.75)",
                                highlightStroke: "rgba(179,39,135,1)",
                                data: [
                                    <% @graph1.each do |es| %>
                                    <%= es[:cant] %>,
                                    <% end %>
                                ]
                            }
                        ]
                    };

                    var barOptions = {
                        scaleBeginAtZero: true,
                        scaleShowGridLines: true,
                        scaleGridLineColor: "rgba(0,0,0,.05)",
                        scaleGridLineWidth: 1,
                        barShowStroke: true,
                        barStrokeWidth: 2,
                        barValueSpacing: 5,
                        barDatasetSpacing: 1,
                        responsive: true,
                    }

                    var ctx = document.getElementById("barChart").getContext("2d");
                    var myNewChart = new Chart(ctx).Bar(barDataUsers, barOptions);

                    $("#users_sel").change(function(){
                        var val = $(this).val()
                        if (val != ""){
                            $("#search_us").attr("disabled", false)
                        }else{
                            $("#search_us").attr("disabled", true)
                        }
                    })
                });
            </script>
          <% else %>
            <br><br>
            <h1 class="text-center">
              <i class="fa fa-exclamation-circle"></i><%= t('views.home_index.without_data') %>.
            </h1><br>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>


