<br>
<!--<h1>Uploaded Files</h1>-->
<div class="col-xs-12 col-md-12 col-lg-12 text-right">
  <div style="margin-bottom: 2em;">
    <div class="pag_right">
      <%#= paginate @carga_prosas, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
    </div>
    <div class="detall_right">
      <%#= page_entries_info @carga_prosas, entry_name: t('views.archivo') %>
    </div>
  </div>
</div>
<div class="table table-responsive overflow col-sm-3" tabindex="5005" style="overflow: hidden; outline: none;">
  <table class="table footable no-paging" data-filter=#filter data-page-size="10">
    <thead>
    <tr>
      <th class="text-center"><%= t('views.archivos_index.name') %></th>
      <th class="text-center"><%= t('views.archivos_index.date') %></th>
      <th class="text-center"><%= t('views.archivos_index.user') %></th>
      <th class="text-center"><%= t('views.archivos_index.download') %></th>
      <th class="text-center"><%= t('all.delete') %></th>
    </tr>
    </thead>
    <tbody>
    <%# @carga_prosas.each do |archive| %>
    <% @aclaraciones.each do |archive| %>
      <tr>
        <td class="text-center"><%= archive.name_file_name %></td>
        <td class="text-center"><%= archive.created_at.to_date %></td>
        <!--        <td class="text-center"><%#= archive.fecha.to_date %></td>-->
        <td class="text-center">
          <% if archive.user_id.present? %>
            <% us = User.find(archive.user_id) %>
            <%= us.name %>
          <% else %>
            N/A
          <% end %>
        </td>
        <td class="text-center"><%= link_to "<i class='fa fa-download'></i> #{archive.name_file_name}".html_safe, archive.name.url, :title => 'Download', :class => 'btn' %></td>
        <td class="text-center">
          <input type="hidden" value="<%= archive.name_file_name %>" id="cliente<%= archive.id %>">

          <button class="btn btn-danger btn-xs  client" type="button" id="<%= archive.id %>">
            <i class="fa fa-trash-o"></i>
          </button>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="col-xs-12 col-md-12 col-lg-12 text-right">
  <div style="margin-bottom: 2em;">
    <div class="pag_right">
      <%#= paginate @carga_prosas, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
    </div>
    <div class="detall_right">
      <%#= page_entries_info @carga_prosas, entry_name: t('views.archivo') %>
    </div>
  </div>
</div>


<br>