<% if !@transacciones.nil? && @transacciones.length > 0 %>

  <table id="table_tran" class="table table-bordered table- table-condensed table-striped">
    <thead>
    <tr>
      <th><%= t('views.clarification_new.select_tt') %></th>
      <th><%= t('views.clarification_index.date_hour') %></th>
      <th><%= t('views.clarification_index.card_number') %></th>
      <th><%= t('views.clarification_new.commerce') %></th>
      <th><%= t('views.clarification_new.reference') %></th>
      <th><%= t('views.clarification_new.ammount_tt') %></th>
      <th><%= t('views.clarification_new.ammount_tt2') %></th>
      <% if @origen != "new" %>
        <th>Dictamen</th>
      <% end %>

    </tr>
    </thead>
    <tbody>
    <% @transacciones.each do |tt| %>
      <tr>
        <td>
          <% if @origen == "new" %>
            <input type="checkbox" class="i-checks aplicar check_all selected" value="<%= tt[:tt] %>,<%= tt[:id_tran] %>,<%= tt[:fecha] %> <%= tt[:hora] %>,<%= tt[:num_tar] %>,<%= tt[:comercio] %>,<%= tt[:monto1] %>,<%= tt[:monto2] %>,<%= tt[:ref23] %>" name="status<%= tt[:id_tran] %>" id="selected<%= tt[:id_tran] %>">
          <% elsif @origen == "edit" %>
            <% @tran = TransactionClarification.where(:idClarification => @id_acl).where(:idTransaction => tt[:id_tran]).where(:tableTTname => tt[:tt]).first %>
            <% if !@tran.nil? %>
              <input type="checkbox" class="i-checks aplicar check_all selected" value="<%= tt[:tt] %>,<%= tt[:id_tran] %>,<%= tt[:fecha] %> <%= tt[:hora] %>,<%= tt[:num_tar] %>,<%= tt[:comercio] %>,<%= tt[:monto1] %>,<%= tt[:monto2] %>,<%= tt[:ref23] %>" name="status<%= tt[:id_tran] %>" id="selected<%= tt[:id_tran] %>" checked>
            <% else %>
              <input type="checkbox" class="i-checks aplicar check_all selected" value="<%= tt[:tt] %>,<%= tt[:id_tran] %>,<%= tt[:fecha] %> <%= tt[:hora] %>,<%= tt[:num_tar] %>,<%= tt[:comercio] %>,<%= tt[:monto1] %>,<%= tt[:monto2] %>,<%= tt[:ref23] %>" name="status<%= tt[:id_tran] %>" id="selected<%= tt[:id_tran] %>">
            <% end %>
          <% end %>

        </td>
        <td><%= tt[:fecha] %> <%= tt[:hora] %></td>
        <td><%= tt[:num_tar] %></td>
        <td><%= tt[:comercio] %></td>
        <td><%= tt[:ref23] %></td>
        <!--        <td><%#= number_to_currency(tt[:monto1], unit: "$", format: "%u %n", :separator => ".", :delimiter => ",") %></td>-->
        <!--        <td><%#= number_to_currency(tt[:monto2], unit: "$", format: "%u %n", :separator => ".", :delimiter => ",") %></td>-->
        <%# @imp1 = Float(tt[:monto1] / 100.00) %>
        <%# @imp2 = Float(tt[:monto2] / 100.00) %>

        <% @imp1 = tt[:monto1].to_f / 100.00 %>
        <% @imp2 = tt[:monto2].to_f / 100.00 %>

        <td><%= number_to_currency(tt[:monto1].to_f / 100, locale: :en) %></td>
        <td><%= number_to_currency(tt[:monto1].to_f / 100, locale: :en) %></td>

        <!-- -----* Checkbox Dictamen *----- -->
        <% if @origen == "new" %>
          <!-- Si es new no va a aparecer la columna DICTAMEN -->
        <% elsif @origen == "edit" %>
          <% @tran = TransactionClarification.where(:idClarification => @id_acl).where(:idTransaction => tt[:id_tran]).where(:tableTTname => tt[:tt]).first %>
          <% if !@tran.nil? %>
            <input type="checkbox" class="i-checks aplicar check_all selected" value="<%= tt[:tt] %>,<%= tt[:id_tran] %>,<%= tt[:fecha] %> <%= tt[:hora] %>,<%= tt[:num_tar] %>,<%= tt[:comercio] %>,<%= tt[:monto1] %>,<%= tt[:monto2] %>,<%= tt[:ref23] %>" name="status<%= tt[:id_tran] %>" id="selected<%= tt[:id_tran] %>" checked>
          <% else %>
            <input type="checkbox" class="i-checks aplicar check_all selected" value="<%= tt[:tt] %>,<%= tt[:id_tran] %>,<%= tt[:fecha] %> <%= tt[:hora] %>,<%= tt[:num_tar] %>,<%= tt[:comercio] %>,<%= tt[:monto1] %>,<%= tt[:monto2] %>,<%= tt[:ref23] %>" name="status<%= tt[:id_tran] %>" id="selected<%= tt[:id_tran] %>">
          <% end %>
        <% end %>
        <!-- -----* Checkbox Dictamen *----- -->
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <h1 class="text-center loading">
    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i> <%= t('views.clarification_new.search') %></h1><br>
  <br>
  <% if @search %>
    <h1 class="text-center"><i class="fa fa-exclamation-circle"></i> <%= t('views.clarification_new.no_tran') %>.</h1>
    <br>
  <% end %>
<% end %>

<script>
    <% if @nuevo_tt %>
    localStorage.setItem("Selected", "");
    <% elsif @edit_tt %>
    localStorage.setItem("Selected", "<%= @selected %>");
    <% end %>

    <% if @search %>
    $(".loading").hide();
    $('a[href="#finish"]').parent().show()
    // $(this).steps("next");
    console.log('prueba en dynamic')
    $('a[href="#next"]').parent().show()

    <% end %>

    var elem = document.querySelector('.js-switch');
    var switchery = new Switchery(elem, {color: '#1AB394'});
    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });

    $('#table_tran input.selected').on('ifChecked', function (event) {
        var fraud = $(this).val()

        // SE AGREGA A LOCAL STORAGE DE FRAUDE
        var lc = localStorage.getItem("Selected")
        if (lc == null) {
            lc = ""
        }

        var checked_fraud = lc.split('|')

        var existe = jQuery.inArray(fraud, checked_fraud)

        if (existe == -1) {
            if (lc == "") {
                localStorage.setItem("Selected", lc + fraud);
            } else {
                localStorage.setItem("Selected", lc + "|" + fraud);
            }
        }

        $("#selected_tt").val(localStorage.getItem("Selected"))

        console.log(lc)
    })

    $('#table_tran input.selected').on('ifUnchecked', function (event) {
        var no_fraud = $(this).val()

        var lc = localStorage.getItem("Selected");
        if (lc == null) {
            lc = ""
        }

        var checked_fraud = lc.split('|')

        var existe = jQuery.inArray(no_fraud, checked_fraud)

        if (existe != -1) {
            checked_fraud.splice(existe, 1)
            checked_fraud = checked_fraud.join("|");
            localStorage.setItem("Selected", checked_fraud)
        }

        $("#selected_tt").val(localStorage.getItem("Selected"))

        console.log(lc)

    })
</script>

