<%= form_for @clarification, :html => {:class => 'wizard-big', :id => 'form'} do |f| %>
<%#= form_for @clarification do |f| %>

  <% if clarification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(clarification.errors.count, "error") %> prohibited this clarification from being saved:</h2>

      <ul>
        <% clarification.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h1><%= t('views.clarification_new.general_info') %></h1>
  <fieldset class="responsive-fieldset">
    <div class="row">
      <div class="col-xs-6">
        <% if action_name == "new" %>
          <input type="hidden" name="clarification[folio]" value="<%= @folio %>">
        <% elsif action_name == "edit" %>
          <input type="hidden" name="clarification[folio]" value="<%= @clarification.folio %>">
        <% end %>

        <label>Folio:</label>
        <% if action_name == "new" %>
          <%= @folio %>
        <% elsif action_name == "edit" %>
          <%= @clarification.folio %>
        <% end %>

      </div>
      <div class="col-xs-6 text-right">
        <label><%= t('views.clarification_index.date_hour') %>:</label>
        <% if action_name == "new" %>
          <%= @fecha_hora %>
        <% elsif action_name == "edit" %>
          <%= @clarification.created_at.strftime('%Y-%m-%d %H:%M') %>
        <% end %>

      </div>
    </div>
    <br>
    <br>
    <% if action_name == "edit" %>
      <div class="row">
        <div class="col-xs-8"></div>
        <div class="col-xs-2">
          <label><%= t('views.clarification_index.state') %></label>
          <select class="form-control input-sm" name="clarification[state_id]">
            <% @states.each do |st| %>
              <% if @clarification.state_id == st.IdEstado %>
                <option value="<%= st.IdEstado %>" selected><%= st.Descripcion %></option>
              <% else %>
                <option value="<%= st.IdEstado %>"><%= st.Descripcion %></option>
              <% end %>
            <% end %>
          </select>
        </div>
        <div class="col-xs-2">
          <label><%= t('views.clarif_type_index.type') %></label>
          <select class="form-control input-sm" name="clarification[clarification_type_id]">
            <% @types.each do |st| %>
              <% if @clarification.clarification_type_id == st.id %>
                <option value="<%= st.id %>" selected><%= st.name %></option>
              <% else %>
                <option value="<%= st.id %>"><%= st.name %></option>
              <% end %>
            <% end %>
          </select>
        </div>
      </div>
      <br>
    <% end %>

    <div class="row">
      <div class="col-xs-5">
        <label><%= t('views.clarification_index.client_name') %></label>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <% if action_name == "new" %>
                <input type="text" class="form-control input-sm name_cl copy_snum" name="clarification[client_name]" autocomplete="off" placeholder="<%= t('views.clarification_index.name') %>" id="nombre" required>
              <% elsif action_name == "edit" %>
                <input type="text" class="form-control input-sm name_cl copy_snum" name="clarification[client_name]" autocomplete="off" placeholder="<%= t('views.clarification_index.name') %>" id="nombre" required value="<%= @clarification.client_name %>">
              <% end %>

              <script>
                  $(function () {
                      $("#nombre").keyup('change', function () {
                          var valor = $(this).val().trim();

                          if (valor == "") {
                              $("#last_f").attr("disabled", true)
                              $("#last_m").attr("disabled", true)
                          } else {
                              $("#last_f").val("")
                              $("#last_m").val("")
                              $("#last_f").attr("disabled", false)
                              $("#last_m").attr("disabled", false)

                          }
                      });

                      $('.copy_snum').on('input', function () {
                          $(this).val($(this).val().replace(/[^a-zA-ZÁÉÍÓÚáéíóúü \b]/gi, ''));
                      });
                  })
              </script>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <% if action_name == "new" %>
                <input type="text" class="form-control input-sm copy_snum" name="clarification[last_name_f]" autocomplete="off" placeholder="<%= t('views.clarification_index.last_name_f') %>" id="last_f" disabled required>
              <% elsif action_name == "edit" %>
                <input type="text" class="form-control input-sm copy_snum" name="clarification[last_name_f]" autocomplete="off" placeholder="<%= t('views.clarification_index.last_name_f') %>" id="last_f" disabled required value="<%= @clarification.last_name_f %>">
              <% end %>

            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <% if action_name == "new" %>
                <input type="text" class="form-control input-sm copy_snum" name="clarification[last_name_m]" autocomplete="off" placeholder="<%= t('views.clarification_index.last_name_m') %>" id="last_m" disabled>
              <% elsif action_name == "edit" %>
                <input type="text" class="form-control input-sm copy_snum" name="clarification[last_name_m]" autocomplete="off" placeholder="<%= t('views.clarification_index.last_name_m') %>" id="last_m"  value="<%= @clarification.last_name_m %>">
              <% end %>

            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <label><%= t('views.clarification_index.card_number') %></label>
        <div class="form-group">
          <% if action_name == "new" %>
            <input type="text" class="form-control input-sm" name="clarification[card_number]" autocomplete="off" placeholder="9999 9999 9999 9999" id="card_number" required>
          <% elsif action_name == "edit" %>
            <input type="text" class="form-control input-sm" name="clarification[card_number]" autocomplete="off" placeholder="9999 9999 9999 9999" id="card_number" required value="<%= @clarification.card_number %>">
          <% end %>
          <script>
              $('#card_number').mask('9999 9999 9999 9999');

          </script>
        </div>
      </div>
      <div class="col-xs-3 text-center">
        <div class="row">
          <div class="col-xs-6">
            <br>
            <% if action_name == "new" %>
              <input type="checkbox" class="i-checks-1" value="1" name="clarification[account_type]" id="responsable_h"> <%= t('views.clarification_new.headline') %>
            <% elsif action_name == "edit" %>
              <% if @clarification.account_type == 1 %>
                <input type="checkbox" class="i-checks-1" value="1" name="clarification[account_type]" id="responsable_h" checked> <%= t('views.clarification_new.headline') %>
              <% else %>
                <input type="checkbox" class="i-checks-1" value="1" name="clarification[account_type]" id="responsable_h"> <%= t('views.clarification_new.headline') %>
              <% end %>
            <% end %>

          </div>
          <div class="col-xs-6">
            <br>
            <% if action_name == "new" %>
              <input type="checkbox" class="i-checks-1" value="2" name="clarification[account_type]" id="responsable_a"> <%= t('views.clarification_new.additional') %>
            <% elsif action_name == "edit" %>
              <% if @clarification.account_type == 2 %>
                <input type="checkbox" class="i-checks-1" value="2" name="clarification[account_type]" id="responsable_a" checked> <%= t('views.clarification_new.additional') %>
              <% else %>
                <input type="checkbox" class="i-checks-1" value="2" name="clarification[account_type]" id="responsable_a"> <%= t('views.clarification_new.additional') %>
              <% end %>
            <% end %>

          </div>
          <div class="col-xs-12" id="error_acc_type" style="display: none;">
            <label> This field is required</label>
          </div>
          <script>
              $('#responsable_h').on('ifChecked', function () {
                  $("#responsable_a").iCheck('uncheck')
                  $("#responsable_a").attr("required", true)
                  $("#error_acc_type").hide()
              })
              $('#responsable_a').on('ifChecked', function () {
                  $("#responsable_h").iCheck('uncheck')
                  $("#responsable_h").attr("required", true)
                  $("#error_acc_type").hide()
              })
          </script>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <label><%= t('views.clarification_new.phone') %></label>
        <div class="form-group">
          <% if action_name == "new" %>
            <input type="text" class="form-control input-sm" name="clarification[phone]" autocomplete="off" placeholder="(55) 9999-9999" id="phone_clarification" required>
          <% elsif action_name == "edit" %>
            <input type="text" class="form-control input-sm" name="clarification[phone]" autocomplete="off" placeholder="(55) 9999-9999" id="phone_clarification" required value="<%= @clarification.phone %>">
          <% end %>

          <script>
              jQuery(function ($) {
                  $("#phone_clarification").mask("(99) 9999-9999");
                  $("#phone_clarification").focusout(function () {
                      var valor = $(this).val();
                      valor = valor.replace("(", "")
                      valor = valor.replace("_", "")
                      valor = valor.replace("_", "")
                      valor = valor.replace(")", "")
                      valor = valor.replace(" ", "")
                      valor = valor.replace("_", "")
                      valor = valor.replace("_", "")
                      valor = valor.replace("_", "")
                      valor = valor.replace("_", "")
                      valor = valor.replace("-", "")
                      valor = valor.replace("_", "")
                      valor = valor.replace("_", "")
                      valor = valor.replace("_", "")
                      valor = valor.replace("_", "")

                      if (valor.length < 10) {
                          $("#phone_clarification").val("");
                      }
                  })
              });

              jQuery(function ($) {
                  $("#phone_clarification").mask("(99) 9999-9999");
              });

              <% if action_name == "edit" %>
              <% if @clarification.phone != "" && !@clarification.phone.nil? %>
              $(function () {
                  $("#celphone_clarification").attr("required", false)
              })
              <% end %>
              <% end %>
              $('#phone_clarification').keyup('change', function () {
                  if ($(this).val() != "") {
                      $("#celphone_clarification").attr("required", false)
                      $("#celphone_clarification").removeClass("error")
                      $("#celphone_clarification-error").hide()
                  } else {
                      $("#celphone_clarification").attr("required", true)
                  }
              })
          </script>
        </div>
      </div>
      <div class="col-xs-4">
        <label><%= t('views.clarification_new.celphone') %></label>
        <div class="form-group">
          <% if action_name == "new" %>
            <input type="text" class="form-control input-sm" name="clarification[celphone]" autocomplete="off" placeholder="99-9999-9999" id="celphone_clarification" required>
          <% elsif action_name == "edit" %>
            <input type="text" class="form-control input-sm" name="clarification[celphone]" autocomplete="off" placeholder="99-9999-9999" id="celphone_clarification" required value="<%= @clarification.celphone %>">
          <% end %>

          <script>
              jQuery(function ($) {
                  $("#celphone_clarification").mask("99-9999-9999");
                  $("#phone_clarification").focusout(function () {
                      var valor = $(this).val();
                      valor = valor.replace("_", "")
                      valor = valor.replace("_", "")
                      valor = valor.replace("-", "")
                      valor = valor.replace("_", "")
                      valor = valor.replace("_", "")
                      valor = valor.replace("_", "")
                      valor = valor.replace("_", "")
                      valor = valor.replace("-", "")
                      valor = valor.replace("_", "")
                      valor = valor.replace("_", "")
                      valor = valor.replace("_", "")
                      valor = valor.replace("_", "")

                      if (valor.length < 10) {
                          $("#phone_clarification").val("");
                      }
                  })
              });

              jQuery(function ($) {
                  $("#celphone_clarification").mask("99-9999-9999");
              });

              <% if action_name == "edit" %>
              <% if @clarification.phone != "" && !@clarification.phone.nil? %>
              $(function () {
                  $("#phone_clarification").attr("required", false)
              })
              <% end %>

              <% end %>

              $('#celphone_clarification').keyup('change', function () {
                  if ($(this).val() != "") {
                      $("#phone_clarification").attr("required", false)
                      $("#phone_clarification").removeClass("error")
                      $("#phone_clarification-error").hide()
                  } else {
                      $("#phone_clarification").attr("required", true)
                  }
              })
          </script>
        </div>
      </div>
      <div class="col-xs-4">
        <label><%= t('views.clarification_new.email') %></label>
        <div class="form-group">
          <% if action_name == "new" %>
            <input type="email" class="form-control input-sm" name="clarification[email]" autocomplete="off" placeholder="<%= t('views.clarification_new.email') %>" id="email">
          <% elsif action_name == "edit" %>
            <input type="email" class="form-control input-sm" name="clarification[email]" autocomplete="off" placeholder="<%= t('views.clarification_new.email') %>" id="email" value="<%= @clarification.email %>">
          <% end %>
        </div>
      </div>
    </div>

    <br>

    <div class="row text-center">
      <div class="col-xs-12"><h4><%= t('views.clarification_index.clarification_type') %></h4></div>
      <div class="col-md-12" style="border-bottom: dashed 1px #be007a"></div>
    </div>

    <br>
    <div class="row">
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
        <% if action_name == "new" %>
          <input type="checkbox" class="i-checks-1" value="1" name="clarification[internal_clarification_type]" id="clar_type_1"> <%= t('views.clarification_index.type_c_1') %>
        <% elsif action_name == "edit" %>
          <% if @clarification.internal_clarification_type == 1 %>
            <input type="checkbox" class="i-checks-1" value="1" name="clarification[internal_clarification_type]" id="clar_type_1" checked> <%= t('views.clarification_index.type_c_1') %>
            <script>
                $("#clarif_type_title_1").show()
                $("#clarif_type_title_2").hide()
                $("#clarif_type_title_3").hide()
                $("#clarif_type_title_4").hide()
                $("#clarif_type_content_1").show()
                $("#clarif_type_content_2").hide()
                $("#clarif_type_content_3").hide()
                $("#clarif_type_content_4").hide()

                //OCULTAR ERRORES
                $("#error_clar_type").hide()
                $("#error_clar_type_2").hide()
                $("#error_clar_type_3").hide()

                // VALIDACIONES PARA SEGUNDO STEP
                $("#payment_date").attr("required", true)
                $("#amount").attr("required", true)
                $("#key_aut").attr("required", true)
                $("#bank").attr("required", true)
                $("#facts").attr("required", false)

            </script>
          <% else %>
            <input type="checkbox" class="i-checks-1" value="1" name="clarification[internal_clarification_type]" id="clar_type_1"> <%= t('views.clarification_index.type_c_1') %>
          <% end %>
        <% end %>
        <script>
            $('#clar_type_1').on('ifChecked', function () {
                $("#clar_type_2").iCheck('uncheck')
                $("#clar_type_3").iCheck('uncheck')
                $("#clar_type_4").iCheck('uncheck')

                $("#clarif_type_title_1").show()
                $("#clarif_type_title_2").hide()
                $("#clarif_type_title_3").hide()
                $("#clarif_type_title_4").hide()
                $("#clarif_type_content_1").show()
                $("#clarif_type_content_2").hide()
                $("#clarif_type_content_3").hide()
                $("#clarif_type_content_4").hide()

                $("#error_clar_type").hide()
                $("#error_clar_type_2").hide()
                $("#error_clar_type_3").hide()

                $("#payment_date").attr("required", true)
                $("#amount").attr("required", true)
                $("#key_aut").attr("required", true)
                $("#bank").attr("required", true)
                $("#facts").attr("required", false)
            })
        </script>
      </div>
      <div class="col-xs-2">
        <% if action_name == "new" %>
          <input type="checkbox" class="i-checks-1" value="2" name="clarification[internal_clarification_type]" id="clar_type_2"> <%= t('views.clarification_index.type_c_2') %>
        <% elsif action_name == "edit" %>
          <% if @clarification.internal_clarification_type == 2 %>
            <input type="checkbox" class="i-checks-1" value="2" name="clarification[internal_clarification_type]" id="clar_type_2" checked> <%= t('views.clarification_index.type_c_2') %>
            <script>
                $("#clarif_type_title_1").hide()
                $("#clarif_type_title_2").show()
                $("#clarif_type_title_3").hide()
                $("#clarif_type_title_4").hide()
                $("#clarif_type_content_1").hide()
                $("#clarif_type_content_2").show()
                $("#clarif_type_content_3").hide()
                $("#clarif_type_content_4").hide()

                $("#error_clar_type").hide()
                $("#error_clar_type_2").hide()
                $("#error_clar_type_3").hide()

                $("#payment_date").attr("required", false)
                $("#amount").attr("required", false)
                $("#key_aut").attr("required", false)
                $("#bank").attr("required", false)
                $("#facts").attr("required", false)
            </script>
          <% else %>
            <input type="checkbox" class="i-checks-1" value="2" name="clarification[internal_clarification_type]" id="clar_type_2"> <%= t('views.clarification_index.type_c_2') %>
          <% end %>
        <% end %>
        <script>
            $('#clar_type_2').on('ifChecked', function () {
                $("#clar_type_1").iCheck('uncheck')
                $("#clar_type_3").iCheck('uncheck')
                $("#clar_type_4").iCheck('uncheck')

                $("#clarif_type_title_1").hide()
                $("#clarif_type_title_2").show()
                $("#clarif_type_title_3").hide()
                $("#clarif_type_title_4").hide()
                $("#clarif_type_content_1").hide()
                $("#clarif_type_content_2").show()
                $("#clarif_type_content_3").hide()
                $("#clarif_type_content_4").hide()

                $("#error_clar_type").hide()
                $("#error_clar_type_2").hide()
                $("#error_clar_type_3").hide()

                $("#payment_date").attr("required", false)
                $("#amount").attr("required", false)
                $("#key_aut").attr("required", false)
                $("#bank").attr("required", false)
                $("#facts").attr("required", false)
            })
        </script>
      </div>
      <div class="col-xs-2">
        <% if action_name == "new" %>
          <input type="checkbox" class="i-checks-1" value="3" name="clarification[internal_clarification_type]" id="clar_type_3"> <%= t('views.clarification_index.type_c_3') %>
        <% elsif action_name == "edit" %>
          <% if @clarification.internal_clarification_type == 3 %>
            <input type="checkbox" class="i-checks-1" value="3" name="clarification[internal_clarification_type]" id="clar_type_3" checked> <%= t('views.clarification_index.type_c_3') %>
            <script>
                $("#clarif_type_title_1").hide()
                $("#clarif_type_title_2").hide()
                $("#clarif_type_title_3").show()
                $("#clarif_type_title_4").hide()
                $("#clarif_type_content_1").hide()
                $("#clarif_type_content_2").hide()
                $("#clarif_type_content_3").show()
                $("#clarif_type_content_4").hide()

                $("#error_clar_type").hide()
                $("#error_clar_type_2").hide()
                $("#error_clar_type_3").hide()

                $("#payment_date").attr("required", false)
                $("#amount").attr("required", false)
                $("#key_aut").attr("required", false)
                $("#bank").attr("required", false)
                $("#facts").attr("required", true)
            </script>
          <% else %>
            <input type="checkbox" class="i-checks-1" value="3" name="clarification[internal_clarification_type]" id="clar_type_3"> <%= t('views.clarification_index.type_c_3') %>
          <% end %>
        <% end %>
        <script>
            $('#clar_type_3').on('ifChecked', function () {
                $("#clar_type_1").iCheck('uncheck')
                $("#clar_type_2").iCheck('uncheck')
                $("#clar_type_4").iCheck('uncheck')

                $("#clarif_type_title_1").hide()
                $("#clarif_type_title_2").hide()
                $("#clarif_type_title_3").show()
                $("#clarif_type_title_4").hide()
                $("#clarif_type_content_1").hide()
                $("#clarif_type_content_2").hide()
                $("#clarif_type_content_3").show()
                $("#clarif_type_content_4").hide()

                $("#error_clar_type").hide()
                $("#error_clar_type_2").hide()
                $("#error_clar_type_3").hide()

                $("#payment_date").attr("required", false)
                $("#amount").attr("required", false)
                $("#key_aut").attr("required", false)
                $("#bank").attr("required", false)
                $("#facts").attr("required", true)
            })
        </script>
      </div>
      <div class="col-xs-2">
        <% if action_name == "new" %>
          <input type="checkbox" class="i-checks-1" value="4" name="clarification[internal_clarification_type]" id="clar_type_4"> <%= t('views.clarification_index.type_c_4') %>
        <% elsif action_name == "edit" %>
          <% if @clarification.internal_clarification_type == 4 %>
            <input type="checkbox" class="i-checks-1" value="4" name="clarification[internal_clarification_type]" id="clar_type_4" checked> <%= t('views.clarification_index.type_c_4') %>
            <script>
                $("#clarif_type_title_1").hide()
                $("#clarif_type_title_2").hide()
                $("#clarif_type_title_3").hide()
                $("#clarif_type_title_4").show()
                $("#clarif_type_content_1").hide()
                $("#clarif_type_content_2").hide()
                $("#clarif_type_content_3").hide()
                $("#clarif_type_content_4").show()

                $("#error_clar_type").hide()
                $("#error_clar_type_2").hide()
                $("#error_clar_type_3").hide()

                $("#payment_date").attr("required", false)
                $("#amount").attr("required", false)
                $("#key_aut").attr("required", false)
                $("#bank").attr("required", false)
                $("#facts").attr("required", false)
            </script>
          <% else %>
            <input type="checkbox" class="i-checks-1" value="4" name="clarification[internal_clarification_type]" id="clar_type_4"> <%= t('views.clarification_index.type_c_4') %>
          <% end %>
        <% end %>
        <script>
            $('#clar_type_4').on('ifChecked', function () {
                $("#clar_type_1").iCheck('uncheck')
                $("#clar_type_2").iCheck('uncheck')
                $("#clar_type_3").iCheck('uncheck')

                $("#clarif_type_title_1").hide()
                $("#clarif_type_title_2").hide()
                $("#clarif_type_title_3").hide()
                $("#clarif_type_title_4").show()
                $("#clarif_type_content_1").hide()
                $("#clarif_type_content_2").hide()
                $("#clarif_type_content_3").hide()
                $("#clarif_type_content_4").show()

                $("#error_clar_type").hide()
                $("#error_clar_type_2").hide()
                $("#error_clar_type_3").hide()

                $("#payment_date").attr("required", false)
                $("#amount").attr("required", false)
                $("#key_aut").attr("required", false)
                $("#bank").attr("required", false)
                $("#facts").attr("required", false)
            })
        </script>
      </div>
      <div class="col-xs-2"></div>
      <div class="col-xs-12 text-center" id="error_clar_type" style="display: none;">
        <label> This field is required</label>
      </div>
    </div>
  </fieldset>


  <h1><%= t('views.clarification_new.clarification_detail') %></h1>
  <fieldset>
    <div class="row">
      <div class="col-xs-6">
        <% if action_name == "new" %>
          <input type="hidden" name="clarification[folio]" value="<%= @folio %>">
        <% elsif action_name == "edit" %>
          <input type="hidden" name="clarification[folio]" value="<%= @clarification.folio %>">
        <% end %>

        <label>Folio:</label>
        <% if action_name == "new" %>
          <%= @folio %>
        <% elsif action_name == "edit" %>
          <%= @clarification.folio %>
        <% end %>

      </div>
      <div class="col-xs-6 text-right">
        <label><%= t('views.clarification_index.date_hour') %>:</label>
        <% if action_name == "new" %>
          <%= @fecha_hora %>
        <% elsif action_name == "edit" %>
          <%= @clarification.created_at.strftime('%Y-%m-%d %H:%M') %>
        <% end %>

      </div>
    </div>
    <br>
    <br>
    <div class="row text-center" id="clarif_type_title_1">
      <div class="col-xs-12"><h4><%= t('views.clarification_index.type_c_1') %></h4></div>
      <div class="col-md-12" style="border-bottom: dashed 1px #be007a"></div>
    </div>

    <div id="clarif_type_content_1">
      <br>
      <div class="row">
        <div class="col-xs-3" id="dato_1">
          <label><%= t('views.clarification_new.payment_date') %></label>
          <div class="input-group date" id="date_hour_input_s">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <% if action_name == "new" %>
              <input type="text" name="clarification[payment_date]" class="form-control input-sm entrada" placeholder="mm/dd/yyyy" autocomplete="off" id="payment_date">
            <% elsif action_name == "edit" %>
              <input type="text" name="clarification[payment_date]" class="form-control input-sm entrada" placeholder="mm/dd/yyyy" autocomplete="off" id="payment_date" value="<%= @clarification.payment_date %>">
            <% end %>
            <script>
                $('#payment_date').on('input', function () {
                    $(this).val($(this).val().replace(/[^0-9/\b]/gi, ''));
                });
            </script>
          </div>
        </div>
        <div class="col-xs-3">
          <label><%= t('views.clarification_new.amount') %></label>
          <div class="form-group">
            <% if action_name == "new" %>
              <input type="text" class="form-control input-sm" name="clarification[amount]" autocomplete="off" placeholder="<%= t('views.clarification_new.amount') %>" id="amount">
            <% elsif action_name == "edit" %>
              <input type="text" class="form-control input-sm" name="clarification[amount]" autocomplete="off" placeholder="<%= t('views.clarification_new.amount') %>" id="amount" value="<%= @clarification.amount %>">
            <% end %>
            <script>
                $('#amount').maskMoney()
            </script>
          </div>
        </div>
        <div class="col-xs-6">
          <label><%= t('views.clarification_new.key_autorization') %></label>
          <div class="form-group">
            <% if action_name == "new" %>
              <input type="text" class="form-control input-sm" name="clarification[key_autorization]" autocomplete="off" placeholder="<%= t('views.clarification_new.key_autorization') %>" id="key_aut">
            <% elsif action_name == "edit" %>
              <input type="text" class="form-control input-sm" name="clarification[key_autorization]" autocomplete="off" placeholder="<%= t('views.clarification_new.key_autorization') %>" id="key_aut" value="<%= @clarification.key_autorization %>">
            <% end %>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label><%= t('views.clarification_new.bank') %></label>
          <div class="form-group">
            <% if action_name == "new" %>
              <input type="text" class="form-control input-sm copy_snum" name="clarification[bank]" autocomplete="off" placeholder="<%= t('views.clarification_new.bank') %>" id="bank">
            <% elsif action_name == "edit" %>
              <input type="text" class="form-control input-sm copy_snum" name="clarification[bank]" autocomplete="off" placeholder="<%= t('views.clarification_new.bank') %>" id="bank" value="<%= @clarification.bank %>">
            <% end %>

          </div>
        </div>
      </div>
      <br>
    </div>

    <div class="row text-center" id="clarif_type_title_2">
      <div class="col-xs-12"><h4><%= t('views.clarification_index.type_c_2') %></h4></div>
      <div class="col-md-12" style="border-bottom: dashed 1px #be007a"></div>
    </div>

    <div id="clarif_type_content_2">
      <br>
      <div class="row text-center">
        <div class="col-xs-4">
          <% if action_name == "new" %>
            <input type="checkbox" class="i-checks-1" value="1" name="clarification[atm_type]" id="atm_type_1"> <%= t('views.clarification_new.atm_type_1') %>
          <% elsif action_name == "edit" %>
            <% if @clarification.atm_type == "1" %>
              <input type="checkbox" class="i-checks-1" value="1" name="clarification[atm_type]" id="atm_type_1" checked> <%= t('views.clarification_new.atm_type_1') %>
            <% else %>
              <input type="checkbox" class="i-checks-1" value="1" name="clarification[atm_type]" id="atm_type_1"> <%= t('views.clarification_new.atm_type_1') %>
            <% end %>
          <% end %>

          <script>
              $('#atm_type_1').on('ifChecked', function () {
                  $("#atm_type_2").iCheck('uncheck')
                  $("#atm_type_3").iCheck('uncheck')

                  $("#error_clar_type_2").hide()
              })
          </script>
        </div>
        <div class="col-xs-4">
          <% if action_name == "new" %>
            <input type="checkbox" class="i-checks-1" value="2" name="clarification[atm_type]" id="atm_type_2"> <%= t('views.clarification_new.atm_type_2') %>
          <% elsif action_name == "edit" %>
            <% if @clarification.atm_type == "2" %>
              <input type="checkbox" class="i-checks-1" value="2" name="clarification[atm_type]" id="atm_type_2" checked> <%= t('views.clarification_new.atm_type_2') %>
            <% else %>
              <input type="checkbox" class="i-checks-1" value="2" name="clarification[atm_type]" id="atm_type_2"> <%= t('views.clarification_new.atm_type_2') %>
            <% end %>
          <% end %>
          <script>
              $('#atm_type_2').on('ifChecked', function () {
                  $("#atm_type_1").iCheck('uncheck')
                  $("#atm_type_3").iCheck('uncheck')

                  $("#error_clar_type_2").hide()
              })
          </script>
        </div>
        <div class="col-xs-4">
          <% if action_name == "new" %>
            <input type="checkbox" class="i-checks-1" value="3" name="clarification[atm_type]" id="atm_type_3"> <%= t('views.clarification_new.atm_type_3') %>
          <% elsif action_name == "edit" %>
            <% if @clarification.atm_type == "3" %>
              <input type="checkbox" class="i-checks-1" value="3" name="clarification[atm_type]" id="atm_type_3" checked> <%= t('views.clarification_new.atm_type_3') %>
            <% else %>
              <input type="checkbox" class="i-checks-1" value="3" name="clarification[atm_type]" id="atm_type_3"> <%= t('views.clarification_new.atm_type_3') %>
            <% end %>
          <% end %>
          <script>
              $('#atm_type_3').on('ifChecked', function () {
                  $("#atm_type_1").iCheck('uncheck')
                  $("#atm_type_2").iCheck('uncheck')

                  $("#error_clar_type_2").hide()
              })
          </script>
        </div>
        <div class="col-xs-12 text-center" id="error_clar_type_2" style="display: none;">
          <label> This field is required</label>
        </div>
      </div>
      <br>
    </div>


    <div class="row text-center" id="clarif_type_title_3">
      <div class="col-xs-12"><h4><%= t('views.clarification_index.type_c_3') %></h4></div>
      <div class="col-md-12" style="border-bottom: dashed 1px #be007a"></div>
    </div>

    <div id="clarif_type_content_3">
      <br>
      <div class="row text-center">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <% if action_name == "new" %>
            <input type="checkbox" class="i-checks-1" value="1" name="clarification[purchase_commerce_type]" id="purchase_commerce_type_1"> <%= t('views.clarification_new.purchse_commerce_type_11') %>
          <% elsif action_name == "edit" %>
            <% if @clarification.purchase_commerce_type == 1 %>
              <input type="checkbox" class="i-checks-1" value="1" name="clarification[purchase_commerce_type]" id="purchase_commerce_type_1" checked> <%= t('views.clarification_new.purchse_commerce_type_11') %>
            <% else %>
              <input type="checkbox" class="i-checks-1" value="1" name="clarification[purchase_commerce_type]" id="purchase_commerce_type_1"> <%= t('views.clarification_new.purchse_commerce_type_11') %>
            <% end %>
          <% end %>

          <br> <%= t('views.clarification_new.purchse_commerce_type_12') %>

          <script>
              $('#purchase_commerce_type_1').on('ifChecked', function () {
                  $("#purchase_commerce_type_2").iCheck('uncheck')

                  $("#error_clar_type_3").hide()
              })
          </script>
        </div>
        <div class="col-xs-2"></div>
      </div>
      <br>
      <div class="row text-center">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <% if action_name == "new" %>
            <input type="checkbox" class="i-checks-1" value="2" name="clarification[purchase_commerce_type]" id="purchase_commerce_type_2"> <%= t('views.clarification_new.purchse_commerce_type_21') %>
          <% elsif action_name == "edit" %>
            <% if @clarification.purchase_commerce_type == 2 %>
              <input type="checkbox" class="i-checks-1" value="2" name="clarification[purchase_commerce_type]" id="purchase_commerce_type_2" checked> <%= t('views.clarification_new.purchse_commerce_type_21') %>
            <% else %>
              <input type="checkbox" class="i-checks-1" value="2" name="clarification[purchase_commerce_type]" id="purchase_commerce_type_2"> <%= t('views.clarification_new.purchse_commerce_type_21') %>
            <% end %>
          <% end %>

          <br> <%= t('views.clarification_new.purchse_commerce_type_22') %>

          <script>
              $('#purchase_commerce_type_2').on('ifChecked', function () {
                  $("#purchase_commerce_type_1").iCheck('uncheck')

                  $("#error_clar_type_3").hide()
              })
          </script>
        </div>
        <div class="col-xs-2"></div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12 text-center" id="error_clar_type_3" style="display: none;">
          <label> This field is required</label>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <label><%= t('views.clarification_new.facts') %></label>
          <% if action_name == "new" %>
            <textarea class="form-control input-sm" rows="4" cols="50" name="clarification[facts]" autocomplete="off" placeholder="<%= t('views.clarification_new.facts') %>" id="facts"></textarea>
          <% elsif action_name == "edit" %>
            <textarea class="form-control input-sm" rows="4" cols="50" name="clarification[facts]" autocomplete="off" placeholder="<%= t('views.clarification_new.facts') %>" id="facts" value="<%= @clarification.facts %>"></textarea>
          <% end %>
          <script>
              $('.copy_sinchar').on('input', function () {
                  $(this).val($(this).val().replace(/[^a-zA-ZÁÉÍÓÚáéíóúü0123456789,.;() \b]/gi, ''));
              });
          </script>
        </div>
      </div>
      <br>
    </div>

    <div class="row text-center" id="clarif_type_title_4">
      <div class="col-xs-12"><h4><%= t('views.clarification_index.type_c_4') %></h4></div>
      <div class="col-md-12" style="border-bottom: dashed 1px #be007a"></div>
    </div>
    <div id="clarif_type_content_4">
      <br>
      <br>
      <h1 class="text-center">
        <i class="fa fa-exclamation-circle"></i><%= t('views.clarification_show.dev_detail') %>.</h1><br>
    </div>

  </fieldset>

  <h1><%= t('views.clarification_new.transaction_detail') %></h1>
  <fieldset>
    <div class="row">
      <div class="col-xs-6">
        <% if action_name == "new" %>
          <input type="hidden" name="clarification[folio]" value="<%= @folio %>">
        <% elsif action_name == "edit" %>
          <input type="hidden" name="clarification[folio]" value="<%= @clarification.folio %>">
        <% end %>

        <label>Folio:</label>
        <% if action_name == "new" %>
          <%= @folio %>
        <% elsif action_name == "edit" %>
          <%= @clarification.folio %>
        <% end %>

      </div>
      <div class="col-xs-6 text-right">
        <label><%= t('views.clarification_index.date_hour') %>:</label>
        <% if action_name == "new" %>
          <%= @fecha_hora %>
        <% elsif action_name == "edit" %>
          <%= @clarification.created_at.strftime('%Y-%m-%d %H:%M') %>
        <% end %>

      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-xs-12 historialTransacciones">
        <input type="hidden" id="selected_tt" name="selected">
        <div id="historial" style="max-height: 40em;
            overflow-y: scroll;">
          <%= render partial: 'clarifications/dynamic' %>
        </div>
      </div>
    </div>
  </fieldset>

<% end %>

<script>
    $(function () {

        $("#form").steps({
            labels: {
                finish: "<%= t('views.clarification_new.finish') %>",
                next: "<%= t('views.clarification_new.next') %>",
                previous: "<%= t('views.clarification_new.previous') %>",
                cancel: "<%= t('views.clarification_new.cancel') %>"
            },
            bodyTag: "fieldset",
            enableCancelButton: false,
            showFinishButtonAlways: false,
            onStepChanging: function (event, currentIndex, newIndex) {
                // Always allow going backward even if the current step contains invalid fields!
                if (currentIndex > newIndex) {
                    return true;
                }

                if (currentIndex == 0) {
                    var checked_tit = $("#responsable_h").prop('checked')
                    var checked_ad = $("#responsable_a").prop('checked')

                    if (checked_tit == false && checked_ad == false) {
                        $("#error_acc_type").show()
                        $("#responsable_h").parent().css('border', '1px solid #fbc2c4')
                        $("#responsable_a").parent().css('border', '1px solid #fbc2c4')
                    }

                    var clar1 = $("#clar_type_1").prop('checked')
                    var clar2 = $("#clar_type_2").prop('checked')
                    var clar3 = $("#clar_type_3").prop('checked')
                    var clar4 = $("#clar_type_4").prop('checked')

                    if (clar1 == false && clar2 == false && clar3 == false && clar4 == false) {
                        $("#error_clar_type").show()
                        ("#clar_type_1").parent().css('border', '1px solid #fbc2c4')
                        ("#clar_type_2").parent().css('border', '1px solid #fbc2c4')
                        ("#clar_type_3").parent().css('border', '1px solid #fbc2c4')
                        ("#clar_type_4").parent().css('border', '1px solid #fbc2c4')
                    }

                    if ((checked_tit == false && checked_ad == false) || (clar1 == false && clar2 == false && clar3 == false && clar4 == false)) {
                        return false;
                    }
                }

                if (currentIndex == 1) {
                    console.log('current index: ' + currentIndex)
                    var clar2 = $("#clar_type_2").prop('checked')
                    var clar3 = $("#clar_type_3").prop('checked')

                    if (clar2 == true) {
                        var atm1 = $("#atm_type_1").prop('checked')
                        var atm2 = $("#atm_type_2").prop('checked')
                        var atm3 = $("#atm_type_3").prop('checked')

                        if (atm1 == false && atm2 == false && atm3 == false) {
                            $("#error_clar_type_2").show()
                            $("#atm_type_1").parent().css('border', '1px solid #fbc2c4')
                            $("#atm_type_2").parent().css('border', '1px solid #fbc2c4')
                            $("#atm_type_3").parent().css('border', '1px solid #fbc2c4')

                            return false;
                        }
                    }

                    if (clar3 == true) {
                        var p1 = $("#purchase_commerce_type_1").prop('checked')
                        var p2 = $("#purchase_commerce_type_2").prop('checked')

                        if (p1 == false && p2 == false) {
                            $("#error_clar_type_3").show()
                            $("#purchase_commerce_type_1").parent().css('border', '1px solid #fbc2c4')
                            $("#purchase_commerce_type_2").parent().css('border', '1px solid #fbc2c4')

                            return false;
                        }
                    }
                }

                var form = $(this);
                // Clean up if user went backward before
                if (currentIndex < newIndex) {
                    console.log('current index: ' + currentIndex + ', New Index: ' + newIndex)
                    // To remove error styles
                    $(".body:eq(" + newIndex + ") label.error", form).remove();
                    $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                }
                form.validate().settings.ignore = ":disabled,:hidden";
                return form.valid();


            },
            onStepChanged: function (event, currentIndex, priorIndex) {
                // Suppress (skip) "Warning" step if the user is old enough.
                if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                    $(this).steps("next");
                    console.log('BOTON CAMBIAR')
                }

                if (currentIndex == 0) {
                    $('a[href="#finish"]').parent().hide()
                }

                if (currentIndex == 1) {
                    $('a[href="#finish"]').parent().hide()


                    $.ajax({
                        type: "GET",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                        },
                        url: "/clarifications/new",
                        data: {"_method": "new"},
                        success: function (data) {

                            var numero_tarjeta = $("#card_number").val()

                            numero_tarjeta = numero_tarjeta.replace(/ /g, '')
                            <% if action_name == "new" %>
                            $("#historial").load("../clarifications/dynamic?numero_tarjeta=" + numero_tarjeta + "&origen=new")
                            <% elsif action_name == "edit" %>
                            var id_acl = "<%= @clarification.id %>"
                            $("#historial").load("../../clarifications/dynamic?numero_tarjeta=" + numero_tarjeta + "&id_acl=" + id_acl + "&origen=edit")
                            <% end %>

                        }
                    })
                }

                if (currentIndex == 2) {
                    $('a[href="#finish"]').parent().hide()
                    // $(this).steps("next");
                    // $("#form").steps("next", {});
                }

            },
            onFinishing: function (event, currentIndex) {
                var form = $(this);
                // Disable validation on fields that are disabled.
                // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                form.validate().settings.ignore = ":disabled";
                // Start validation; Prevent form submission if false
                return form.valid();
            },
            onFinished: function (event, currentIndex) {
                var form = $(this);
                form.submit();
            },
            onCanceled: function (event, currentIndex) {
                window.location.href = "/clarifications"
            }
        })

        $("#form").submit(function () {
            $("#last_f").attr("disabled", false)
            $("#last_m").attr("disabled", false)
        })

        $('#dato_1 .input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });


        var elem = document.querySelector('.js-switch');
        var switchery = new Switchery(elem, {color: '#1AB394'});

        $('.i-checks-1').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });

    })


</script>

<style>
  .wizard .content {
    min-height: 100px;
  }

  .wizard .content > .body {
    width: 100%;
    height: auto;
    padding: 15px;
    position: relative;
  }

  .wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
    background: #be007a;
    color: #fff;
    cursor: default;
  }

  .wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
    background: #be007a;
    color: #fff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
    background: #F37ACC;
    color: #fff;
  }

  /* Estilos de Referencia (scroll horizontal) */
  #historial {
    width: 100%;
    white-space: nowrap;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }

  #historial {
    margin-right: 20px;
  }

  #historial::-webkit-scrollbar-track {
    -webkit-box-shadow: #be007a;
    background-color: #CCCCCC;
  }

  #historial::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #F5F5F5;
  }

  #historial::-webkit-scrollbar-thumb {
    background-color: #FFF;
    background-image: -webkit-linear-gradient(90deg,
    #be007a 0%,
    #be007a 25%,
    transparent 100%,
    #be007a 75%,
    transparent)
  }

  /* FIN Estilos de Referencia (scroll horizontal) */

  #error_acc_type, #error_clar_type, #error_clar_type_2, #error_clar_type_3 {
    color: #8a1f11;
  }
</style>