<script type="text/javascript" language="javascript" class="init">
    $(document).ready(function () {
        $('table').dataTable({
            "bInfo": false,
            "paging": false,
            "searching": false
        });
    });
</script>

<div class="row">
  <div class="col-sm-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('views.clarification_index.clarifications') %></h1>
      </div>
      <div class="ibox-content" id="responsiveTable">
        <% if @error.present? %>
          <!--<div class="alert alert-danger alert-dismissable fade in">-->
          <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>-->
          <!--<%#= @error %>-->
          <!--</div>-->
          <script>
              swal({
                  title: "<%= t('all.no_filter')%>",
                  type: "warning"

              }); // swal
          </script>
        <% end %>

        <%= form_tag({:controller => "clarifications", :action => "index"}, :method => "get", :id => 'form_search') do %>
          <input type="hidden" value="<%= params[:locale] %>" name="locale">
          <input type="hidden" value="true" name="search">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <input type="text" class="form-control input-sm" name="folio" autocomplete="off" placeholder="Folio" id="folio_s">
              </div>
            </div>
            <div class="col-sm-3 calendar_ini">
              <div class="row">
                <div class="col-xs-2">
                  <label><%= t('views.clarification_index.start_date') %></label>
                </div>
                <div class="col-xs-10">
                  <div class="input-group date" id="date_hour_input_s">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="text" name="date_hour" class="form-control input-sm entrada" title="Fecha Inicial" placeholder="mm/dd/yyyy" autocomplete="off" id="date_hour_s">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3 calendar_fin">
              <div class="row">
                <div class="col-xs-2">
                  <label><%= t('views.clarification_index.end_date') %></label>
                </div>
                <div class="col-xs-10">
                  <div class="input-group date" id="date_hour_input_s">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="text" name="date_hour_end" class="form-control input-sm salida" title="Fecha Fin" placeholder="mm/dd/yyyy" autocomplete="off" id="date_hour_end_s">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <input type="text" class="form-control input-sm" name="card_number" autocomplete="off" placeholder="<%= t('views.clarification_index.card_number') %>" id="card_number_s">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <input type="text" class="form-control input-sm copy_snum" name="name" autocomplete="off" placeholder="<%= t('views.clarification_index.client_name') %>" id="name_s" onkeypress="return noNumbers(event)">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <input type="text" class="form-control input-sm copy_snum" name="last_f" autocomplete="off" placeholder="<%= t('views.clarification_index.last_name_f') %>" id="last_f_s" disabled onkeypress="return noNumbers(event)">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <input type="text" class="form-control input-sm copy_snum" name="last_m" autocomplete="off" placeholder="<%= t('views.clarification_index.last_name_m') %>" id="last_m_s" disabled onkeypress="return noNumbers(event)">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <select class="form-control input-sm" name="user" id="user_s">
                  <option value=""><%= t('views.clarification_index.user') %></option>
                  <% if @user.present? %>
                    <% @user.each do |us| %>
                      <option value="<%= us.id %>"><%= us.name %> <%= us.last_name %></option>
                    <% end %>
                  <% end %>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <select class="form-control input-sm" name="states" id="states_s">
                  <option value=""><%= t('views.clarification_index.state') %></option>
                  <% if @states.present? %>
                    <% @states.each do |st| %>
                      <option value="<%= st.id %>"><%= st.Descripcion %></option>
                    <% end %>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <select class="form-control input-sm" name="clar_type" id="clar_type_s">
                  <option value=""><%= t('views.clarif_type_index.type') %></option>
                  <% if @types.present? %>
                    <% @types.each do |types| %>
                      <option value="<%= types.id %>"><%= types.name %></option>
                    <% end %>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <select class="form-control input-sm" name="clar_bin" id="clar_bin_s">
                  <option value=""><%= t('views.clarif_type_index.bin') %></option>
                  <% if @bins.present? %>
                    <% @bins.each do |bin| %>
                      <option value="<%= bin.id %>"><%= bin.name %> - <%= bin.bin %></option>
                    <% end %>
                  <% end %>
                  <option value="other"><%= t('views.clarif_type_index.other') %></option>
                </select>
              </div>
            </div>
            <div class="col-sm-3 text-center">
              <div class="form-group">
                <div class="btn-group">
                  <%#= submit_tag t('all.btn_search'), :class => "btn btn-w-m btn-info dim", :data => {:no_turbolink => true} %>

                  <%= button_tag(type: 'submit', class: 'btn btn-w-m btn-info', id: 'search_b', disabled: true) do %>
                    <i class="fa fa-search"></i>
                    <%= t('all.btn_search') %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

        <% end %>

        <% if @query.present? %>

          <div class="row">
            <div class="col-xs-9">
              <h3><%= t('all.query') %>: <%= @query %></h3>
            </div>
            <div class="col-xs-3 text-center">
              <div class="form-group">
                <%= link_to t('all.clean'), clarifications_path, :class => "btn btn-w-m btn-info dim", :data => {:no_turbolink => true} %>
              </div>

            </div>
          </div>
        <% end %>


        <div class="row">
          <div class="col-sm-4">
            <br>
            <br>
            <% if @crearClarifications == 8 %>
              <%= link_to '<span class="fa fa-comment-o"></span> '.html_safe + t('views.areas_index.new'), new_clarification_path, :class => 'btn btn-xs btn-info dim' %>
            <% end %>
            <% if @query.present? %>
              <button class="btn btn-primary btn-xs xls_g" type="button" id="xls_gen">
                <i class="fa fa-floppy-o"></i> XLS
              </button>
            <% end %>
          </div>
          <div class="col-sm-3"></div>
          <div class="col-sm-5 text-right">
            <div style="margin-bottom: 2em;">
              <div class="detall_left">
                <%= page_entries_info @clarifications, entry_name: t('views.clarification_index.clarifications') %>
              </div>
              <div class="pag_right">
                <%= paginate @clarifications, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
              </div>
            </div>
          </div>
        </div>
        <div class="table table-responsive overflow col-sm-3" tabindex="5005" style="overflow: hidden; outline: none;">
          <table class="table" data-page-size="10">
            <thead>
            <tr>
              <th class="text-center">Folio</th>
              <th class="text-center" data-sort-ignore="true"><%= t('views.clarification_index.date_hour') %></th>
              <th class="text-center" data-sort-ignore="true"><%= t('views.clarification_index.card_number') %></th>
              <th class="text-center" data-sort-ignore="true"><%= t('views.clarification_index.client_name') %></th>
              <th class="text-center" data-sort-ignore="true"><%= t('views.clarification_index.user') %></th>
              <th class="text-center" data-sort-ignore="true"><%= t('views.clarif_type_index.type') %></th>
              <th class="text-center" data-sort-ignore="true"><%= t('views.clarification_index.state') %></th>
              <% if @leerClarifications == 2 %>
                <th class="text-center" data-sort-ignore="true"><%= t('all.show') %></th>
              <% end %>
              <% if @editarClarifications == 4 %>
                <th class="text-center" data-sort-ignore="true"><%= t('views.areas_index.edit') %></th>
              <% end %>
              <% if @eliminarClarifications == 1 %>
                <th class="text-center" data-sort-ignore="true"><%= t('views.areas_index.destroy') %></th>
              <% end %>
              <!--              <th class="text-center" data-sort-ignore="true">PDF</th>-->
            </tr>
            </thead>

            <tbody>
            <% @clarifications.each do |clarif| %>

              <tr>
                <td class="text-center"><%= clarif.folio %></td>
                <td class="text-center"><%= clarif.created_at.strftime('%Y-%m-%d %H:%M') %></td>
                <td class="text-center"><%= clarif.card_number %></td>
                <td class="text-center"><%= clarif.client_name %> <%= clarif.last_name_f %> <%= clarif.last_name_m %></td>
                <td class="text-center">
                  <% if clarif.user.present? %>
                    <%= clarif.user.name %> <%= clarif.user.last_name %>
                  <% else %>
                    N/A
                  <% end %>
                </td>
                <td class="text-center">
                  <% @type = ClarificationType.find(clarif.clarification_type_id) %>
                  <% if @type.present? && !@type.nil? %>
                    <%= @type.name %>
                  <% else %>
                    N/A
                  <% end %>
                </td>
                <td class="text-center">
                  <% if clarif.state.present? %>
                    <%= clarif.state.Descripcion %>
                  <% else %>
                    N/A
                  <% end %>
                </td>
                <td class="text-center">
                  <% if @leerClarifications == 2 %>
                    <%= link_to '<button class="btn btn-info btn-xs" type="button"><i class="fa fa-file-text "></i></button>'.html_safe, clarif, :data => {:no_turbolink => false} %>
                  <% end %>
                </td>
                <td class="text-center">
                  <% if @editarClarifications == 4 %>
                    <%= link_to '<button class="btn btn-warning btn-xs" type="button"><i class="fa fa-pencil "></i></button>'.html_safe, edit_clarification_path(clarif), :data => {:no_turbolink => false} %>
                  <% end %>
                </td>
                <td class="text-center">
                  <% if @eliminarClarifications == 1 %>
                    <input type="hidden" value="<%= clarif.folio %>" id="clarif<%= clarif.id %>">
                    <%#= link_to '<button class="btn btn-danger btn-xs areas" type="button"><i class="fa fa-trash-o "></i></button>'.html_safe, area, method: :delete, data: {confirm: t('views.areas_index.confirm')}, :id => area.id %>
                    <button class="btn btn-danger btn-xs  clarif" type="button" id="<%= clarif.id %>">
                      <i class="fa fa-trash-o"></i>
                    </button>
                  <% end %>
                </td>

                <!--                <td class="text-center">-->
                <%#= link_to 'pdf', clarifications_path(:statement_id => clarif.id, format: "pdf"), :class => "btn btn-info btn-sm" %>
                <!--                </td>-->

              </tr>
            <% end %>
            </tbody>
            <!--<tfoot>
            <tr>
              <td colspan="11">
                <ul class="pagination pull-right"></ul>
              </td>
            </tr>
            </tfoot>-->
          </table>
        </div>
        <br>

        <div class="row">
          <div class="col-sm-4">
            <% if @crearClarifications == 8 %>
              <%= link_to '<span class="fa fa-comment-o"></span> '.html_safe + t('views.areas_index.new'), new_clarification_path, :class => 'btn btn-xs btn-info dim' %>
            <% end %>
          </div>
          <div class="col-sm-3"></div>
          <div class="col-sm-5 text-right">
            <div style="margin-bottom: 2em;">
              <div class="pag_right">
                <%= paginate @clarifications, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
              </div>
              <div class="detall_right">
                <%= page_entries_info @clarifications, entry_name: t('views.clarification_index.clarifications') %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<script type="text/javascript">

    var getDate = function (input) {
        return new Date(input.date.valueOf());
    }

    $(document).ready(function () {
        $("input[name=date_hour]").change(function () {
            $('input[name=date_hour_end]').val($('').val());
        });
    });

    $('.calendar_ini .input-group.date').datepicker({
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true,
    }).on('changeDate',
        function (selected) {
            $('.salida').datepicker('clearDates');
            $('.salida').datepicker('setStartDate', getDate(selected));
        });

    $('.calendar_fin .input-group.date').datepicker({
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true,
        startDate: '+5d',
        endDate: '+35d',
    })

    $('#date_hour_s, #date_hour_end_s').on('input', function () {
        valor = $(this).val()
        patron = /^[0-9/]*$/
        remp = /[^ 0-9/]+/ig

        if (!patron.test(valor)) {
            this.value = valor.replace(remp, "")
        }
    });


    $('#folio_s').mask('aaa-99999999-9999-aaaaa');
    $('#card_number_s').mask('9999 9999 9999 9999');

    $('.copy_snum').on('input', function () {
        $(this).val($(this).val().replace(/[^a-zA-Z \b]/gi, ''));
    });

    function noNumbers(e) {
        var keynum
        var keychar
        var numcheck

        if (window.event) // IE
        {
            keynum = e.keyCode
        }

        else if (e.which) // Netscape/Firefox/Opera
        {
            keynum = e.which
        }

        keychar = String.fromCharCode(keynum)
        numcheck = /\d/
        return !numcheck.test(keychar)
    }

    $("#user_s, #clar_type_s, #states_s, #clar_bin_s").change(function () {
        if ($(this).val() == "") {
            folio = $("#folio_s").val()
            date_hour = $("#date_hour_s").val()
            date_hour_end = $("#date_hour_end_s").val()
            card_number = $("#card_number_s").val()
            name = $("#name_s").val()
            last_f = $("#last_f_s").val()
            last_m = $("#last_m_s").val()
            user = $("#user_s").val()
            clar_type = $("#clar_type_s").val()
            clar_bin = $("#clar_bin_s").val()
            states = $("#states_s").val()

            if (folio != "" || card_number != "" || name != "" || last_f != "" || last_m != "" || user != "" || clar_type != "" || clar_bin != "" || states != "") {

                $("#search_b").attr("disabled", false)

            } else {
                if (date_hour != "" && date_hour_end != "") {
                    $("#search_b").attr("disabled", false)
                } else {
                    $("#search_b").attr("disabled", true)
                }
            }
        } else {
            $("#search_b").attr("disabled", false)
        }
    })


    $("#date_hour_s, #date_hour_end_s").change(function () {
        date_hour = $("#date_hour_s").val()
        date_hour_end = $("#date_hour_end_s").val()

        if (date_hour != "" && date_hour_end != "") {
            $("#search_b").attr("disabled", false)
        } else {
            folio = $("#folio_s").val()
            card_number = $("#card_number_s").val()
            name = $("#name_s").val()
            last_f = $("#last_f_s").val()
            last_m = $("#last_m_s").val()
            user = $("#user_s").val()
            clar_type = $("#clar_type_s").val()
            clar_bin = $("#clar_bin_s").val()
            states = $("#states_s").val()

            if (folio != "" || card_number != "" || name != "" || last_f != "" || last_m != "" || user != "" || clar_type != "" || clar_bin != "" || states != "") {
                if (date_hour == "" && date_hour_end == "") {
                    $("#search_b").attr("disabled", false)
                } else {
                    $("#search_b").attr("disabled", true)
                }
            } else {
                $("#search_b").attr("disabled", true)
            }
        }


    })

    $('#folio_s, #card_number_s, #name_s, #last_f_s, #last_m_s').keyup('change', function () {
        if ($(this).val() == "") {
            folio = $("#folio_s").val()
            date_hour = $("#date_hour_s").val()
            date_hour_end = $("#date_hour_end_s").val()
            card_number = $("#card_number_s").val()
            name = $("#name_s").val()
            last_f = $("#last_f_s").val()
            last_m = $("#last_m_s").val()
            user = $("#user_s").val()
            clar_type = $("#clar_type_s").val()
            clar_bin = $("#clar_bin_s").val()
            states = $("#states_s").val()

            if (folio != "" || card_number != "" || name != "" || last_f != "" || last_m != "" || user != "" || clar_type != "" || clar_bin != "" || states != "") {
                if (date_hour != "" && date_hour_end != "") {
                    $("#search_b").attr("disabled", false)
                } else {
                    $("#search_b").attr("disabled", true)
                }
            } else {
                if (date_hour != "" && date_hour_end != "") {
                    $("#search_b").attr("disabled", false)
                } else {
                    $("#search_b").attr("disabled", true)
                }
            }
        } else {
            $("#search_b").attr("disabled", false)
        }
    })

    //---- Al enviar formulario, reciba fechas.
    $('#form_search').submit(function () {
        var c = $('#date_hour_s').val()
        var ce = $('#date_hour_end_s').val()
        if ((c == "" || c == null) && (ce == "" || ce == null)) {
            $('#date_hour_s').val("")
            $('#date_hour_end_s').val("")
        } else {
            var birth = new Date($('#date_hour_s').val());
            var birth_end = new Date($('#date_hour_end_s').val());
            $('#date_hour_s').val(birth)
            $('#date_hour_end_s').val(birth_end)
        }
    });
    //---- Fin al enviar formulario, reciba fechas.

    //---- Fin Input para calendario
    function checkSubmit() {
        document.getElementById("sub").value = "Sending...";
        document.getElementById("sub").disabled = true;
        return true;
    }

    $(".pop").popover({trigger: "manual", html: true, animation: false})
        .on("mouseenter", function () {
            var _this = this;
            $(this).popover("show");
            $(".popover").on("mouseleave", function () {
                $(_this).popover('hide');
            });
        }).on("mouseleave", function () {
        var _this = this;
        setTimeout(function () {
            if (!$(".popover:hover").length) {
                $(_this).popover("hide");
            }
        }, 300);
    });

    $("[data-toggle=hover]").popover({html: true})
    $('#popoverData').popover();

    function recargar() {
        window.location.reload(true);
    }

    $(".clarif").click(function () {
        console.log("CLIC ELIMINAR")
    });
    $(document).on("click", ".clarif", function () {
        var id = this.id;
        var area = $("#clarif" + id).val();
        swal({
                title: '<%= t('views.mess_apli_title')%>  ' + '<%= t('views.clarification_index.clarification')%>  ' + area + '?',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "<%= t('views.mess_apli_swall_confirm')%> ",
                cancelButtonText: "<%= t('views.mess_apli_swall_cancel')%>",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: "POST",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                        },
                        url: "/clarifications/" + id,
                        data: {"_method": "delete"},
                    })
                    //swal("<%= t('views.mess_apli_swall')%>");
                    swal(
                        {
                            title: '<%= t('views.mess_apli_swall')%>',
                            type: "success",
                            confirmButtonText: "OK",
                        }, function (isConfirm) {
                            if (isConfirm) {
                                recargar();
                            }
                        })
                } else {
                    swal("<%= t('views.mess_apli_swall_cancel_1')%>");
                }
            });
    })

    $("#name_s").keyup('change', function () {
        var valor = $(this).val().trim();

        if (valor == "") {
            $("#last_f_s").attr("disabled", true)
            $("#last_m_s").attr("disabled", true)
        } else {
            $("#last_f_s").attr("disabled", false)
            $("#last_m_s").attr("disabled", false)
        }
    });

    $(".xls_g").click(function () {
        var folio = "<%= @folio %>"
        var fecha = "<%= @fecha %>"
        var fecha_end = "<%= @fecha_end %>"
        var card_number = "<%= @card_number %>"
        var name = "<%= @name %>"
        var last_f = "<%= @last_f %>"
        var last_m = "<%= @last_m %>"
        var user_b = "<%= @user_b %>"
        var clar_type = "<%= @clar_type %>"
        var clar_bin = "<%= @clar_bin %>"
        var states_b = "<%= @states_b %>"
        var idioma = "<%= params[:locale] %>"

        $.ajax({
            type: "GET",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
            },
            url: "/clarifications?xls_g=true&search=true&user_id=<%= current_user.id %>&idioma=" + idioma + "&folio=" + folio + "&date_hour=" + fecha + "&date_hour_end=" + fecha_end + "&card_number=" + card_number + "&name=" + name + "&last_f=" + last_f + "&last_m=" + last_m + "&user=" + user_b + "&clar_type=" + clar_type + "&clar_bin=" + clar_bin + "&states=" + states_b,
            data: {"_method": "index"},
        })

        toastr.options = {
            closeButton: true,
            progressBar: true,
            showMethod: 'slideDown',
            timeOut: 5000
        };
        toastr.success("<%= t('views.clarification_index.xls_mes1') %>", "<%= t('views.clarification_index.xls_mes2') %>");
    })
</script>
<style>
  /* FIN Estilos de Tooltips */

  /* Estilos de Toast */
  .toast-success {
    background-color: #9C0E6D;
  }

  #toast-container > .toast-success:before {
    content: none;
  }

  /* Fin de Tooltips */
</style>

