<div class="row">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('views.clarification_new.title') %></h1>
      </div>
      <div class="ibox-content" id="responsiveTable">

        <%= render 'form', clarification: @clarification %>

        <%= link_to '<span class="fa fa-comment-o"></span> '.html_safe + t('all.back'), clarifications_path, :class => 'btn btn-xs btn-info dim' %>
      </div>
    </div>
  </div>
  <br>
</div>


