
<div class="row">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('views.clarification_show.title') %></h1>
      </div>
      <div class="ibox-content" id="responsiveTable">

        <div class="tabs-container">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1"> <%= t('views.clarification_new.general_info') %></a>
            </li>
            <li class=""><a data-toggle="tab" href="#tab-2"><%= t('views.clarification_new.clarification_detail') %></a>
            </li>
            <li class=""><a data-toggle="tab" href="#tab-3"><%= t('views.clarification_new.transaction_detail') %></a>
            </li>
            <li class=""><a data-toggle="tab" href="#tab-4"><%= t('views.clarification_new.clarification_file') %></a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-6 text-left">
                    <label>Folio:</label><%= @clarification.folio %>
                  </div>
                  <div class="col-xs-6 text-right">
                    <label><%= t('views.clarification_index.date_hour') %>
                      :</label><%= @clarification.created_at.strftime('%Y-%m-%d %H:%M') %>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-xs-8"></div>
                  <div class="col-xs-2">
                    <label><%= t('views.clarification_index.state') %>:</label>
                    <br><%= @clarification.state.Descripcion %>
                  </div>
                  <div class="col-xs-2">
                    <% @type = ClarificationType.find(@clarification.clarification_type_id) %>
                    <label><%= t('views.clarif_type_index.type') %>:</label>
                    <br>
                    <%= @type.name %>
                  </div>
                </div>
                <div class="col-md-12" style="border-bottom: dashed 1px #be007a"></div>
                <br>
                <div class="row">
                  <div class="col-xs-5">
                    <label><%= t('views.clarification_index.client_name') %></label>
                    <br>
                    <%= @clarification.client_name %> <%= @clarification.last_name_f %> <%= @clarification.last_name_m %>
                  </div>
                  <div class="col-xs-5">
                    <label><%= t('views.clarification_index.card_number') %></label>
                    <br>
                    <%= @clarification.card_number %>
                  </div>
                  <div class="col-xs-2">
                    <label><%= t('views.clarification_show.client') %></label>
                    <br>
                    <% if @clarification.account_type == 1 %>
                      <%= t('views.clarification_new.headline') %>
                    <% elsif @clarification.account_type == 2 %>
                      <%= t('views.clarification_new.additional') %>
                    <% end %>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-xs-4">
                    <label><%= t('views.clarification_new.phone') %>
                      :</label>
                    <br><%= @clarification.phone %>
                  </div>
                  <div class="col-xs-4">
                    <label><%= t('views.clarification_new.celphone') %>
                      :</label><br>
                    <% if !@clarification.celphone.nil? && @clarification.celphone != "" %>
                      <%= @clarification.celphone %>
                    <% else %>
                      N/A
                    <% end %>
                  </div>
                  <div class="col-xs-4">
                    <label><%= t('views.clarification_new.email') %>
                      :</label><br>
                    <% if !@clarification.email.nil? && @clarification.email != "" %>
                      <%= @clarification.email %>
                    <% else %>
                      N/A
                    <% end %>
                  </div>
                </div>
                <br>
                <div class="row text-center">
                  <div class="col-xs-12"><h4><%= t('views.clarification_index.clarification_type') %></h4></div>
                  <div class="col-md-12" style="border-bottom: dashed 1px #be007a"></div>
                </div>
                <br>
                <div class="row">
                  <div class="col-xs-12 text-center">
                    <% if @clarification.internal_clarification_type == 1 %>
                      <%= t('views.clarification_index.type_c_1') %>
                    <% elsif @clarification.internal_clarification_type == 2 %>
                      <%= t('views.clarification_index.type_c_2') %>
                    <% elsif @clarification.internal_clarification_type == 3 %>
                      <%= t('views.clarification_index.type_c_3') %>
                    <% elsif @clarification.internal_clarification_type == 4 %>
                      <%= t('views.clarification_index.type_c_4') %>
                    <% else %>
                      N/A
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div id="tab-2" class="tab-pane">
              <div class="panel-body" style="min-height: 25em;">
                <div class="row">
                  <div class="col-xs-6 text-left">
                    <label>Folio:</label><%= @clarification.folio %>
                  </div>
                  <div class="col-xs-6 text-right">
                    <label><%= t('views.clarification_index.date_hour') %>
                      :</label><%= @clarification.created_at.strftime('%Y-%m-%d %H:%M') %>
                  </div>
                </div>
                <br>
                <% if @clarification.internal_clarification_type == 1 %>
                  <div class="row text-center">
                    <div class="col-xs-12"><h4><%= t('views.clarification_index.type_c_1') %></h4></div>
                    <div class="col-md-12" style="border-bottom: dashed 1px #be007a"></div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-xs-3">
                      <label><%= t('views.clarification_new.payment_date') %></label>
                      <br>
                      <%= @clarification.payment_date %>
                    </div>
                    <div class="col-xs-3">
                      <label><%= t('views.clarification_new.amount') %></label>
                      <br>
                      <%= @clarification.amount %>
                    </div>
                    <div class="col-xs-6">
                      <label><%= t('views.clarification_new.key_autorization') %></label>
                      <br>
                      <%= @clarification.key_autorization %>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-xs-12">
                      <label><%= t('views.clarification_new.bank') %></label>
                      <br>
                      <%= @clarification.bank %>
                    </div>
                  </div>
                <% elsif @clarification.internal_clarification_type == 2 %>
                  <div class="row text-center">
                    <div class="col-xs-12"><h4><%= t('views.clarification_index.type_c_2') %></h4></div>
                    <div class="col-md-12" style="border-bottom: dashed 1px #be007a"></div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-xs-12 text-center">
                      <% if @clarification.atm_type == "1" %>
                        <%= t('views.clarification_new.atm_type_1') %>
                      <% elsif @clarification.atm_type == "2" %>
                        <%= t('views.clarification_new.atm_type_2') %>
                      <% elsif @clarification.atm_type == "3" %>
                        <%= t('views.clarification_new.atm_type_3') %>
                      <% end %>
                    </div>
                  </div>
                <% elsif @clarification.internal_clarification_type == 3 %>
                  <div class="row text-center">
                    <div class="col-xs-12"><h4><%= t('views.clarification_index.type_c_3') %></h4></div>
                    <div class="col-md-12" style="border-bottom: dashed 1px #be007a"></div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-xs-12 text-center">
                      <% if @clarification.purchase_commerce_type == "1" %>
                        <%= t('views.clarification_new.purchse_commerce_type_11') %>
                      <% elsif @clarification.purchase_commerce_type == "2" %>
                        <%= t('views.clarification_new.purchse_commerce_type_12') %>
                      <% end %>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-xs-12">
                      <label><%= t('views.clarification_new.facts') %>:</label>
                      <br>
                      <% if !@clarification.facts.nil? && @clarification.facts != "" %>
                        <%= @clarification.facts %>
                      <% else %>
                        N/A
                      <% end %>
                    </div>
                  </div>
                <% elsif @clarification.internal_clarification_type == 4 %>
                  <div class="row text-center">
                    <div class="col-xs-12"><h4><%= t('views.clarification_index.type_c_4') %></h4></div>
                    <div class="col-md-12" style="border-bottom: dashed 1px #be007a"></div>
                  </div>
                  <br>
                  <br>
                  <h1 class="text-center">
                    <i class="fa fa-exclamation-circle"></i><%= t('views.clarification_show.dev_detail') %>.</h1><br>
                <% end %>
              </div>
            </div>
            <div id="tab-3" class="tab-pane">
              <div class="panel-body">

                <% if @trans.length > 0 %>
                  <table id="table_tran" class="table table-bordered table- table-condensed table-striped">
                    <thead>
                    <tr>
                      <th><%= t('views.clarification_index.date_hour') %></th>
                      <th><%= t('views.clarification_index.card_number') %></th>
                      <th><%= t('views.clarification_new.commerce') %></th>
                      <th><%= t('views.clarification_new.ammount_tt') %></th>
                      <th><%= t('views.clarification_new.ammount_tt2') %></th>
                      <th>Referencia</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @trans.each do |tt| %>
                      <tr>
                        <td><%= tt.fecha_hora %></td>
                        <td><%= tt.numero_tarjeta %></td>
                        <td><%= tt.comercio %></td>
                        <td><%= tt.importe1 %></td>
                        <td><%= tt.importe2 %></td>
                        <td><%= tt.referencia23 %></td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                <% else %>
                  <h1 class="text-center"><i class="fa fa-exclamation-circle"></i> Sin transacciones asociadas.</h1>
                <% end %>
              </div>
            </div>
            <div id="tab-4" class="tab-pane">
              <div class="panel-body">
                <% if @files_clarifications.length > 0 %>
                  <table class="table footable no-paging" data-filter=#filter data-page-size="10">
                    <thead>
                    <tr>
                      <th class="text-center"><%= t('views.archivos_index.name') %></th>
                      <th class="text-center"><%= t('views.archivos_index.date') %></th>
                      <th class="text-center"><%= t('views.archivos_index.user') %></th>
                      <th class="text-center"><%= t('views.archivos_index.download') %></th>
                      <th class="text-center"><%= t('all.delete') %></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @files_clarifications.each do |archive| %>
                      <tr>
                        <td class="text-center"><%= archive.name_file_name %></td>
                        <td class="text-center"><%= archive.created_at.to_date %></td>
                        <!--<td class="text-center"><%#= archive.fecha.to_date %></td>-->
                        <td class="text-center">
                          <% if archive.user_id.present? %>
                            <% us = User.find(archive.user_id) %>
                            <%= us.name %>
                          <% else %>
                            N/A
                          <% end %>
                        </td>
                        <td class="text-center"><%= link_to "<i class='fa fa-download'></i> #{archive.name_file_name}".html_safe, archive.name.url, :title => 'Download', :class => 'btn' %></td>
                        <td class="text-center">
                          <input type="hidden" value="<%= archive.name_file_name %>" id="cliente<%= archive.id %>">

                          <button class="btn btn-danger btn-xs  client" type="button" id="<%= archive.id %>">
                            <i class="fa fa-trash-o"></i>
                          </button>
                        </td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                <% else %>
                  <h1 class="text-center"><i class="fa fa-exclamation-circle"></i> Sin archivos.</h1>
                <% end %>

              </div>
            </div>
          </div>


        </div>

        <div class="col-xs-12 hr-line-dashed"></div>
        <% if @editarClarifications == 4 %>
          <%= link_to '<span class="fa fa-comment-o"></span> '.html_safe + t('all.edit'), edit_clarification_path(@clarification), :class => 'btn btn-xs btn-info dim' %>
          |
        <% end %>

        <%= link_to '<span class="fa fa-comment-o"></span> '.html_safe + t('all.back'), clarifications_path, :class => 'btn btn-xs btn-info dim' %>
      </div>
    </div>
  </div>
  <br>
</div>

