<!-- PRUEBA -->
<div class="row flexbox" id="conte">
  <div class="col-md-4 flexbox">
    <div class="width widget style1 navy-bg" id="p2">
      <div class="row">
        <div class="col-xs-12">
          <h3><i class="fa fa-signal fa-2x" id="a1"></i> <%= t('views.counters.received') %></h3>
        </div>
        <div class="col-xs-12 par2">
          <div class="row">
            <div class="col-md-6" id="text">
              <% @clar_ant = Clarification.where(:state_id => 1).count %>
              <br>
              <span class="label label-success"><%= t('views.home_index.general') %></span>
              <br>
              <h2 class="izq"><%= number_with_delimiter(@clar_ant, :delimiter => ',') %></h2>
            </div>
            <div class="col-md-6 text-right" id="text">
              <% @clar_hoy = Clarification.where(:state_id => 1).where(:created_at => Time.now.beginning_of_day..Time.now.end_of_day).count %>
              <br>
              <span class="label label-success pull-right"><%= t('views.home_index.until') + ' ' + Time.now.strftime("%F %T").to_s %></span>
              <br>
              <h2 class="izq"><%= number_with_delimiter(@clar_hoy, :delimiter => ',') %></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 flexbox">
    <div class="width widget style1 navy-bg" id="p3">
      <div class="row">
        <div class="col-xs-12">
          <h3><i class="fa fa-signal fa-2x" id="a2"></i> <%= t('views.counters.attended') %></h3>
        </div>

        <div class="col-xs-12 par3">
          <div class="row">
            <div class="col-md-6" id="text">
              <% @clar_ant = Clarification.where.not(:state_id => 1).count %>
              <br>
              <span class="label label-success"><%= t('views.home_index.general') %></span>
              <br>
              <h2 class="izq"><%= number_with_delimiter(@clar_ant, :delimiter => ',') %></h2>
            </div>
            <div class="col-md-6 text-right" id="text">
              <% @clar_hoy = Clarification.where.not(:state_id => 1).where(:created_at => Time.now.beginning_of_day..Time.now.end_of_day).count %>
              <br>
              <span class="label label-success pull-right"><%= t('views.home_index.until') + ' ' + Time.now.strftime("%F %T").to_s %></span>
              <br>
              <h2 class="izq"><%= number_with_delimiter(@clar_hoy, :delimiter => ',') %></h2>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-4 flexbox">
    <div class="width widget style1 navy-bg" id="p4">
      <div class="row">
        <div class="col-xs-12">
          <h3><i class="fa fa-signal fa-2x" id="a3"></i> <%= t('views.counters.total') %></h3>
        </div>

        <div class="col-xs-12 par4">
          <div class="row">
            <div class="col-md-6" id="text">
              <% @clar_ant = Clarification.all.count %>
              <br>
              <span class="label label-success"><%= t('views.home_index.general') %></span>
              <br>
              <h2 class="izq"><%= number_with_delimiter(@clar_ant, :delimiter => ',') %></h2>
            </div>
            <div class="col-md-6 text-right" id="text">
              <% @clar_hoy = Clarification.all.where(:created_at => Time.now.beginning_of_day..Time.now.end_of_day).count %>
              <br>
              <span class="label label-success pull-right"><%= t('views.home_index.until') + ' ' + Time.now.strftime("%F %T").to_s %></span>
              <br>
              <h2 class="izq"><%= number_with_delimiter(@clar_hoy, :delimiter => ',') %></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- PRUEBA -->
<% content_for :javascript do %>
  <script type="text/javascript" charset="utf-8">

      $(document).ready(function () {
          setInterval(function () {
              $('.par2').fadeOut('slow', function () {
                  $(this).fadeIn('slow');
              });
              $('.par2').load("/home/par1")

          }, 30000);
      });

      $(document).ready(function () {
          setInterval(function () {
              $('.par3').fadeOut('slow', function () {
                  $(this).fadeIn('slow');
              });
              $('.par3').load("/home/par2")

          }, 30000);
      });

      $(document).ready(function () {
          setInterval(function () {
              $('.par4').fadeOut('slow', function () {
                  $(this).fadeIn('slow');
              });
              $('.par4').load("/home/par3")

          }, 30000);
      });
  </script>
<% end %>