<% if current_user.profile.present? %>
  <% @permisos = current_user.profile.permissions %>
  <% arreglo = Array.new %>
  <% @permisos.each do |per| %>
    <% id = per.id %>
    <% valor = {name: '', crear: 0, editar: 0, leer: 0, eliminar: 0} %>
    <% valor[:name] = per.view_name %>
    <% if per.crear.nil? %>
      <% valor[:crear] = 0 %>
    <% else %>
      <% valor[:crear] = per.crear %>
    <% end %>

    <% if per.editar.nil? %>
      <% valor[:crear] = 0 %>
    <% else %>
      <% valor[:editar] = per.editar %>
    <% end %>

    <% if per.leer.nil? %>
      <% valor[:leer] = 0 %>
    <% else %>
      <% valor[:leer] = per.leer %>
    <% end %>

    <% if per.eliminar.nil? %>
      <% valor[:eliminar] = 0 %>
    <% else %>
      <% valor[:eliminar] = per.eliminar %>
    <% end %>

    <% arreglo.push(valor) %>
  <% end %>

  <nav class="navbar-default navbar-static-side" role="navigation" style="position: fixed">
    <div class="sidebar-collapse">
      <ul class="nav metismenu" id="side-menu">
        <li class="nav-header">
          <div class="dropdown profile-element">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <%#= favicon_link_tag 'liverpoolicono.png' %>

              <!--              <img alt="image" class="img-circle" src="liverpoolicono.png">-->
              <div class="text-center">
                <%= image_tag("liverpooliconomenu.png", border: 0, :height => 70, width: 80) %>
              </div>


              <span class="clear text-center">
                            <span class="block m-t-xs">
                              <h3>
                                <strong class="font-bold"><%= current_user.name %> <%= current_user.last_name %>  </strong><br>
                              </h3>

                              <%# if (current_user.nameProfile_id == 1) || (current_user.nameProfile_id > 1) %>

                            </span>
                          <span class="text-muted text-xs block cerrado" id="abre">Menu <b class="caret"></b></span>
                        </span>
            </a>

            <ul class="dropdown-menu animated fadeInRight m-t-xs" id="menu">
              <li>
                <a href="#"><%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe + t('all.edit'), edit_user_registration_path %></a>
              </li>

              <li>
                <a href="#"><%= link_to '<i class="fa fa-sign-out"></i>'.html_safe + t('all.logout'), "/logout" %></a>
              </li>
            </ul>
          </div>
          <div class="logo-element">
            <%= image_tag("liverpooliconomenu.png", border: 0, :height => 25, width: 30) %>
          </div>
        </li>


        <li class="<%= 'active' if current_page?('/') %>">
          <%= link_to "/" do %>
            <i class="fa fa-home"></i> <span class="nav-label"><%= t('all.home') %></span>
          <% end %>
        </li>



        <% if arreglo[1][:leer] == 2%>
          <li class="<%= is_active_controller('productivity') %>">
            <%= link_to productivity_index_path do %>
              <i class="fa fa-line-chart"></i> <span class="nav-label"><%= t('all.productivity') %></span>
            <% end %>
          </li>
        <% end %>

        <% if arreglo[2][:crear] == 8 || arreglo[2][:editar] == 4 || arreglo[2][:leer] == 2 || arreglo[2][:eliminar] == 1 %>
          <li class="<%= is_active_controller('clarifications') %>">
            <a href=""><i class="fa fa-comments-o"></i><span class="nav-level"><%= t('all.clarifications') %></span>
              <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level <%= is_active_controller('clarifications') %>">

              <% if arreglo[2][:crear] == 8 && arreglo[2][:leer] == 2 %>
                <li class="<%= is_active_controller('clarifications') && action_name == "new" %>">
                  <%= link_to '<i class="fa fa-commenting-o"></i>'.html_safe + t('views.clarification_new.title'), new_clarification_path %>
                </li>
              <% end %>

              <% if arreglo[2][:crear] == 8 || arreglo[2][:editar] == 4 || arreglo[2][:leer] == 2 || arreglo[2][:eliminar] == 1 %>
                <li class="<%= is_active_controller('clarifications') %>">
                  <%= link_to '<i class="fa fa-comment-o"></i>'.html_safe + t('all.clarifications'), clarifications_path %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>

        <% if arreglo[3][:crear] == 8 || arreglo[3][:editar] == 4 || arreglo[3][:leer] == 2 || arreglo[3][:eliminar] == 1 %>
          <li class="<%= is_active_controller('carga_prosas') %>">
            <%= link_to carga_prosas_path do %>
              <i class="fa fa-upload"></i> <span class="nav-label"><%= t('all.upload') %></span>
            <% end %>
          </li>
        <% end %>


        <% if arreglo[4][:crear] == 8 || arreglo[4][:editar] == 4 || arreglo[4][:leer] == 2 || arreglo[4][:eliminar] == 1 || arreglo[5][:crear] == 8 || arreglo[5][:editar] == 4 || arreglo[5][:leer] == 2 || arreglo[5][:eliminar] == 1 || arreglo[6][:crear] == 8 || arreglo[6][:editar] == 4 || arreglo[6][:leer] == 2 || arreglo[6][:eliminar] == 1 || arreglo[7][:crear] == 8 || arreglo[7][:editar] == 4 || arreglo[7][:leer] == 2 || arreglo[7][:eliminar] == 1 || arreglo[8][:crear] == 8 || arreglo[8][:editar] == 4 || arreglo[8][:leer] == 2 || arreglo[8][:eliminar] == 1 %>
          <li class="<%= is_active_controller('users') %> <%= is_active_controller('profiles') %>">
            <a href=""><i class="fa fa-cogs"></i><span class="nav-level"><%= t('all.settings_n') %></span>
              <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level <%= is_active_controller('users') %>">

              <% if arreglo[4][:crear] == 8 || arreglo[4][:editar] == 4 || arreglo[4][:leer] == 2 || arreglo[4][:eliminar] == 1 %>
                <li class="<%= 'active' if current_page?('/users') %>">
                  <%= link_to '<i class="fa fa-users"></i>'.html_safe + t('all.user'), users_path %>
                </li>
              <% end %>

              <% if arreglo[5][:crear] == 8 || arreglo[5][:editar] == 4 || arreglo[5][:leer] == 2 || arreglo[5][:eliminar] == 1 %>
                <li class="<%= is_active_controller('profiles') %>">
                  <%= link_to '<i class="fa fa-user"></i>'.html_safe + t('all.profiles'), profiles_path %>
                </li>
              <% end %>

              <% if arreglo[6][:crear] == 8 || arreglo[6][:editar] == 4 || arreglo[6][:leer] == 2 || arreglo[6][:eliminar] == 1 %>
                <li class="<%= is_active_controller('areas') %>">
                  <%= link_to '<i class="fa fa-sticky-note"></i>'.html_safe + t('all.areas'), areas_path %>
                </li>
              <% end %>
              <% if arreglo[7][:crear] == 8 || arreglo[7][:editar] == 4 || arreglo[7][:leer] == 2 || arreglo[7][:eliminar] == 1 %>
                <li class="<%= is_active_controller('states') %>">
                  <%= link_to '<i class="fa fa-cubes"></i>'.html_safe + t('all.states'), states_path %>
                </li>
              <% end %>
              <% if arreglo[8][:crear] == 8 || arreglo[8][:editar] == 4 || arreglo[8][:leer] == 2 || arreglo[8][:eliminar] == 1 %>
                <li class="<%= is_active_controller('clarification_types') %>">
                  <%= link_to '<i class="fa fa-tags"></i>'.html_safe + t('all.types'), clarification_types_path %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>


      </ul>
    </div>
  </nav>
<% else %>
<% end %>

<script>
    $("#abre").click(function () {
        var tiene = $(this).hasClass("cerrado")
        if (tiene == false) {
            $(this).removeClass("abierto")
            $(this).addClass("cerrado")
            $("#menu").hide();
        } else {
            $(this).removeClass("cerrado")
            $(this).addClass("abierto")
            $("#menu").show();
        }
    })

</script>