<!--Fixed Top Var -->
<!--<div class="row border-bottom" style="margin-bottom: 60px">-->
<div class="row border-bottom">
  <!--Fixed Top Var -->
  <!--<nav class="navbar navbar-static-top white-bg" role="navigation" style="position: fixed; min-width: -moz-available; min-width: -webkit-max-content; box-sizing: border-box;">-->
  <nav class="navbar navbar-static-top white-bg" role="navigation">
    <div class="navbar-header">
      <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
      <!--<form role="search" class="navbar-form-custom" method="post" action="/">-->
      <!--<div class="form-group">-->
      <!--<input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search" />-->
      <!--</div>-->
      <!--</form>-->
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li>
        <span class="m-r-sm text-muted welcome-message"><%= t('views.sessions_new.welcome') %> </span>
      </li>

      <!--<%# if is_active_controller('loyalty_cards') %>-->
          <!--<li>-->
            <!--<%#= link_to image_tag("mexico.png", border: 0, :height => 12, width: 24), locale: :es, :id => params[:id] %>-->
          <!--</li>-->
          <!--<li>-->
            <!--<%#= link_to image_tag("eua.png", border: 0, :height => 12, width: 24), locale: :en, :id => params[:id] %>-->
          <!--</li>-->
      <!--<%# elsif is_active_controller('reports') %>-->
          <!--<li>-->
            <!--<%#= link_to image_tag("mexico.png", border: 0, :height => 12, width: 24), locale: :es, :id => params[:id] %>-->
          <!--</li>-->
          <!--<li>-->
            <!--<%#= link_to image_tag("eua.png", border: 0, :height => 12, width: 24), locale: :en, :id => params[:id] %>-->
          <!--</li>-->

      <!--<%# else %>-->


          <li>
            <%= link_to image_tag("mexico.png", border: 0, :height => 12, width: 24), locale: :es %>
          </li>
          <li>
            <%= link_to image_tag("eua.png", border: 0, :height => 12, width: 24), locale: :en %>

          </li>
      <% #end %>


      <li><i class="fa fa-sign-out"></i></li>

      <li> <%= link_to t('all.logout'), destroy_user_session_path, method: :delete %>

        <!--<a href="/logout?locale=<%#= params[:locale] %>"><%#= t('all.logout')%> </a>-->


      <li>
        <a class="right-sidebar-toggle">
        </a>
      </li>

    </ul>
  </nav>
</div>